.tabs-box{
    margin-top:20px;
    min-height:310px; 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
  .tab-div{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    margin-bottom:20px;
  }
  .tab-div .tab1{
    flex:1 1 250px;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
   
    padding:30px;
  }
  .tab-div .tab1 span{
    font-size:1em;
    margin-top:10px;
  }
  .tab-div .tab1  img{
    width:200px;
    height:auto;
    border-radius: 15px;

  }
  .tab-div .tab2{
    flex:1 1 658px;
    text-align: left;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .tab-div .tab2 .social{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding:3px;
    width: 100%;
  }
  .tab-div .tab2 .social i{
    font-size: 23px;
  }

  

  .tab-div .tab2 .social span div{
    font-size:25px;
    width:40px;
    height: 40px;
    border-radius:100%;
    display:flex;
    margin-right:4px;
    justify-content: center;
    align-items:center;
  }
  .youtube{
  background-color: #BC1C0E;
  color:white;
}
.instagram{
    background-color: #E66A5E;
    color:white;
}
.twitter{
    background-color: #70B8F2;
    color:white;
}
.facebook{
    background-color: #4966A2;
    color:white;
}
.blog{
    background-color: #EF7438;
    color:white;
}
  .campaigns-tabs{
    display:flex;
    border-bottom:1px solid gainsboro;
    margin-bottom:10px;
    padding:10px 15px;

  }
  .campaigns-tabs a span{
      padding:10px 15px;
  }
  .campaigns-tabs a{
    text-decoration: none;
    color:rgb(27, 27, 27);
  }
  .campaigns-tabs a span:hover{
    border-bottom:4px solid rgb(252, 66, 66);
  } 
  .campaigns-tabs .active{
      background-color: transparent!important;
      border-bottom:4px solid red;
    cursor: default;
  }
  .campaign-head{
      font-weight:100;
      font-size: 2em;
  }
  .facebook{
      background-color:#4966A2;
      color:white;
      font-size:20px;
  }
  .instagram{
      background-color:#E66A5E;
      color:white;
      font-size:20px;
  }
  .channel-div{
      display:flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
  }
  .channel-div span{
      margin:4px;
  }        
  .channel-div span img{
      width:40px;
      height:auto;
  }
  .channel-sec{
      display:flex;
      justify-content: flex-start;
      align-items: center;
  }
  .content-tabs{
      display:flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items:center;
      border-bottom:1px solid rgb(211, 211, 211);
  }
  .content-tabs .active{
      background-color:white;
      border:1px solid rgb(219, 219, 219);
      border-radius:4px;
  }   
  .content-tabs span{
      font-weight: 300;
      font-size: 16px;
      padding: 9px 14px;
  }
  .content-tabs span:hover{
      cursor:pointer;
  }
  .content-tabs span i{
      font-size:20px;
      margin-right:5px;
  }
  .youtube-container{
    width: 500px;
    height: 300px;
  }
  .youtube-container iframe{
    width:100%;
    height: 100%;
  }
  .youtube-active{
    border: solid 10px rgb(196, 7, 7);
    padding: 9px;
  }
  .youtube-hover{
    margin:26px;
    padding:26px;
  }
  
  @media(max-width:780px){
    .youtube-container{
      width:320px;
      height:191px;
      margin-top:20px;
    }
  }
  .youtube-select{
    position: relative;
    width: 33px;
    height: 33px;
    z-index: 200;
    float: right;
    transform: translate(-1px, 43px);
  }
  .offer-active{
    opacity: 0.5;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 32px;
  }
  .instagram-select{
    position: relative;
    width: 36px;
    height: 36px;
    z-index: 200;
    float: right;
    transform: translate(216px, 43px);
  }
  .insta-active{
    border: solid 10px rgb(196, 7, 7);
  }

  .disapper{
    display: none!important;
  }
  .page-opacity{
    opacity:0.3;
  }
  .face-container{
    display:flex;
    width: 100%;
    flex-wrap:wrap;
}
.face-card{
    flex:0 1 200px;
    height: 200px;
    border:3px solid #ACB1B4;
    margin:10px;
    animation: scalee 0.4s linear;
}
.face_tag{
  
}
.face-head{
    background-color:#3B5997;
    color:white;
    height: 20%;
    width:100;
    padding:6px;
}
.face-head h3{
    font-size:20px;
}
.face-body{
    height: 80%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.face-link{
    text-decoration:none;
    color:white;
    padding:5px 25px;
    margin-top:20px;
    background-color:rgb(76, 117, 201);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
@keyframes scalee {
  0% {
      /* transition:100px; */
      transform: scale(0.5);
      opacity: 0;
  }
  60% {
      transition:60px;
      /* translate:50px; */
      transform: scale(0.9);
      opacity: 0.8;
  }

  100% {
      transition:10px;
      /* translate:0px; */
      transform: scale(1);
      opacity: 1;
  }
}
.face-link:hover{
    color:white;
    cursor:pointer;
}
.facebook-select{
  position: relative;
  width: 36px;
  height: 36px;
  z-index: 200;
  float: right;
  transform: translate(226px, 43px);
}
.face-active{
  border: solid 10px rgb(196, 7, 7);
}
.face_center{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:center;
}
