:root {
    --primary: red;
}
 
.setting-container{
            
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    padding:15px;
}
.setting-container span{
    flex: 0 1 100%;
    width:100%;
    color:#F5F8FD;
    padding:10px 30px;
}
.setting-container .active a{
    color:white!important;
}
.setting-container .active{
    background-color:var(--primary);
    color:white;
    cursor:pointer;
}
a{
    text-decoration:none;
    color:black;
}
.general-table{
    width:100%;
}
.general-table th{
    margin:10px 10px;
}
.general-table td{
    margin:10px 10px;
}
.gender-radio{
    margin:15px 0px;
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    flex-direction: row;
}
.gender-radio .child1{
    flex:0 1 180px;
}   
.gender-radio .child1 h5{
    /* font-weight: 500; */
    font-size: 16px;
}
.gender-radio .child2{
    flex:1 1 331px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
}
.gender-radio .child2 div{
    flex:0 1 150px;
    margin:5px 10px;
}
.gender-radio .child3{
    flex:0 1 380px;
    display: flex;
    flex-direction: column;
}
.gender-radio .child3 span{
    margin:5px 0px;
}
@media(max-width:780px){
    .gender-radio .child2{
        justify-content:flex-start;
        align-self: flex-start;
    }
    .gender-radio .child3{
        margin-left:15px;
    }
}
.gender-radio .child2 div span{
    padding:5px;
}


.about-channel{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.about-channel .pro-head{
    flex:0 1 180px;
}
.about-channel .textarea{
    flex:0 1 441px;
    margin-top:50px;
}
@media(max-width:780px){
    .about-channel .textarea{
        margin-right:30px;
        margin-top:10px;
    }      
}
.setting-submit{
    margin:20px 0px;
    display:flex;
    justify-content: center;
    align-items:center;
}

.address-section{
    display:flex;
    flex-direction:column;
    background-color: #F5F8FD;
    padding:20px;
    border-left:5px solid rgb(123, 171, 255);
}
.address-section h5{
    margin:5px;
}
.channel-radio{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    margin-bottom:30px;
}
.pro-head{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
}
.pro{
    margin:7px 10px;
}
.payout-history{
    margin:20px 0px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile-container{
    margin-top:100px;
    width:330px;
    height: auto;

}
.touch-me h5{
 display:none;       
}
@media(max-width:780px){
    .profile-container{
        margin-top: 30px;
        width:250px;
    
    }   
    .touch-me h5{
        display: flex;
        margin-top:30px;
        text-align:center;
    }
}

.profile-container img{
    width:100%;
    height:100%;
    border:1px solid rgb(114, 114, 114);

}
.upload-preload{
    width:100px;
    z-index:10;
    transform: translateY(-180px);
    position: relative;
}
.upload-preload img{
    width:100%;
    height:100%;
}
.loaderhider{
    display:none!important;
}
.upload-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:20px 0px;
}
#profile-image:hover{
    cursor:pointer;
}
.table-style{
    width:100%;
    overflow-x:scroll;
    /* padding-right:80px; */
}
.facebook{
    background-color:#4966A2;
    color:white;
    font-size:16px;
    
}
.instagram{
    background-color:#E66A5E;
    color:white;
    font-size:16px;
}
.twitter{
    background-color:#55ACEE;
    color:white;
    font-size:16px;

}
.tumblr{
    background-color:#32506D;
    color:white;
    font-size:16px;

}
.blog{
    background-color:#F26522;
    color:white;
    font-size:16px;
}
.tictok{
    background-color:#000000;
    color:white;
    font-size:16px;
}   
.snapchat{
    background-color:#FFFC00;
    color:black;
    font-size:16px;
} 
.checkbox-lists{
    display:flex;
    justify-self: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap:wrap;
}
.checkbox-lists .list{
    flex:1 1 200px;
    display:flex;
    flex-direction: column;
}
.checkbox-lists .list h5{
    font-weight: 600;
}
.checkbox-lists .list div{
    margin:5px 0px;
}
.radio-div .small{
    font-size:13px;
}
.radio-div .small a{
    color:rgb(23, 23, 255);
}
.radio-div .small a:hover{
    border-bottom:1px solid blue;
}

.input-div{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin:10px 0px;
    transition:all 1s ease-in-out 1s;
    animation: example 0.2s linear;
}
@keyframes example {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        transform: translateY(0px);
        opacity:1;
    }
  }
.input-div .child1{
    flex:1 1 150px;
}
.input-div .child2{
    flex:1 1 300px;
}


.hider{
    display:none!important;
}
.center_out{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
