.portlet.light > .portlet-title {
    padding: 0;
    border-bottom: 1px solid #eee;
    padding: 0;
    margin-bottom: 10px;
    min-height: 48px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.portlet > .portlet-title > .caption {
    color: #666;
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 0;
}

.portlet.light > .portlet-title > .caption > .caption-subject {
    font-size: 16px;
}

.font-green-haze {
    color: #44b6ae !important;
}

.uppercase {
    text-transform: uppercase !important;
}

.bold {
    font-weight: 700 !important;
}

.portlet.light > .portlet-title > .actions {
    padding: 6px 0 14px 0;
    float: right;
    display: inline-block;
}

.btn.green-haze:not(.btn-outline) {
    color: #ffffff;
    background-color: #44b6ae;
    border-color: #44b6ae;
}

.btn.green-haze:not(.btn-outline):hover {
    color: #ffffff;
    background-color: #36918b;
    border-color: #338983;
}

.portlet > .portlet-title:after {
    clear: both;
}

.portlet > .portlet-title:before,
.portlet > .portlet-title:after {
    content: " ";
    display: table;
}

.table-scrollable {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid #e7ecf1;
    margin: 10px 0 !important;
}

.table-scrollable > .table {
    width: 100% !important;
    margin: 0 !important;
    margin-bottom: 0;
    background-color: #fff;
}

.table-hover > tbody > tr:hover,
.table-hover > tbody > tr:hover > td {
    background: #f3f4f6 !important;
}
