.font-green {
    color: #32c5d2 !important;
}

.font-blue {
    color: #3598dc !important;
}

.plans {
    line-height: 23px;
    font-size: 12px;
    margin: 0 auto;
    padding: 1px;
    width: 100%;
    max-width: 1200px;
    margin-top: 100px;
    font-family: "Open Sans", arial, verdana;
    border: 1px solid #eee;
    zoom: 1;
}

.plans_descriptions {
    display: none;
    border: none;
}

.plan,
.plans_descriptions {
    width: 100%;
    min-width: 239px;
    float: left;
    list-style-type: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.plan_tip {
    font-family: "Oswald", sans-serif;
    color: #fff;
    font-size: 1.5em;
    height: 30px;
    line-height: 30px;
    background: #de5f60;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: center;
}

.header_bar {
    height: 9px;
    width: 100%;
    background: #dd514c;
}

.plan_block {
    border-right: 1px solid #eee;
    background-color: #fff;
    background: -webkit-linear-gradient(
        top,
        #f7f7f7,
        #ffffff 10%,
        #ffffff 90%,
        #f7f7f7
    );
    background: -moz-linear-gradient(
        top,
        #f7f7f7,
        #ffffff 10%,
        #ffffff 90%,
        #f7f7f7
    );
    background: -ms-linear-gradient(
        top,
        #f7f7f7,
        #ffffff 10%,
        #ffffff 90%,
        #f7f7f7
    );
    background: -o-linear-gradient(
        top,
        #f7f7f7,
        #ffffff 10%,
        #ffffff 90%,
        #f7f7f7
    );
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.description_header {
    padding-left: 20px;
}

.plan_header {
    font-family: "Oswald", sans-serif;
    height: 112px;
    padding-top: 10px;
    text-align: center;
}

.plan_feature_name {
    color: #929292;
}

.plan:hover .plan_feature_value {
    color: #fff;
}

.plan_feature_value {
    color: #797979;
    font-weight: bold;
}

.plan_features_descriptions {
    padding: 0;
}

.plan_features li,
.plan_features_descriptions li {
    height: 40px;
    line-height: 40px;
    font-size: 1.2em;
    list-style-type: none;
    color: #515151;
    text-align: center;
    background: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.plan_features li:nth-of-type(odd),
.plan_features_descriptions li:nth-of-type(odd) {
    background: #f7faff;
}

.price_block {
    font-family: "Oswald", sans-serif;
    display: inline-block;
    width: 90px;
    height: 90px;
    color: #515151;
    margin-left: 11px;
    background: #dd514c;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #fff;
}

.price_amount {
    text-align: center;
    padding-top: 23px;
}

.price_value {
    font-size: 2em;
    line-height: 5px;
}

.price_period {
    font-size: 1.7em;
    display: block;
}

.plan_price_name {
    width: 240px;
    margin: 0 auto;
    text-align: left;
}

.plan_name_block {
    width: 120px;
    height: 60px;
    display: inline-block;
    vertical-align: top;
    margin: 31px 7px;
    color: #797979;
}

.plan_name {
    /* font-size: 4em; */
    text-transform: uppercase;
    height: 24px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: -35px 0px;
}

.plan_name > span {
    font-size: 4em;
    text-transform: uppercase;
    text-align: left;
}

.plan_name_second_line {
    font-size: 1.3em;
    margin: 8px 1px;
}

.plan_order {
    padding: 15px;
    height: 100px;
    padding-top: 23px;
}

.btn.green:not(.btn-outline) {
    color: #ffffff;
    background-color: #32c5d2;
    border-color: #32c5d2;
}

.btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.44;
}

.plan_features li:nth-of-type(even),
.plan_features_descriptions li:nth-of-type(even) {
    background: #fff;
}

.plan:hover .plan_header {
    padding-top: 8px;
}

.plan:hover .price_block {
    background: #fff;
    color: #dd514c;
}

.plan:hover .plan_name_block {
    color: #fff;
}

.plan:hover .plan_block {
    background: #dd514c;
    border: none;
}

.plan:hover .plan_features li:nth-of-type(odd) {
    background: #de5f60;
}

.plan:hover .plan_features li:nth-of-type(even) {
    background: #dd514c;
}

@media only screen and (max-width: 2000px) and (min-width: 960px) {
    .plan {
        width: 33.33% !important;
    }
}

@media only screen and (max-width: 2000px) and (min-width: 960px) {
    .plan:hover {
        margin-top: -25px;
    }
}

.faq-content-1 .faq-section {
    background-color: #fff;
    padding: 40px 30px 30px 30px;
    margin-bottom: 30px;
}

.panel-group {
    margin-bottom: 20px;
}

.faq-content-1 .faq-section .panel-group {
    margin-bottom: 0;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-default {
    border-color: #ddd;
}

.panel {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}

.panel-group .panel {
    overflow: visible;
}

.faq-content-1 .faq-section > .faq-content .panel {
    border: none;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-heading {
    background: #eee;
}

.panel-group .panel-heading {
    border-bottom: 0;
}

.accordion .panel .panel-heading {
    padding: 0;
}

.faq-content-1 .faq-section > .faq-content .panel-heading {
    background-color: transparent;
    margin-top: 15px;
}

.faq-content-1 .faq-section > .faq-content .panel-heading i {
    font-size: 10px;
    color: #dae0e5;
    margin-right: 10px;
    margin-top: 4px;
    float: left;
}

.panel-heading a {
    text-decoration: none;
}

.accordion .panel .panel-title .accordion-toggle {
    display: block;
    padding: 10px 15px;
}

.faq-content-1 .faq-section > .faq-content .panel-heading .accordion-toggle {
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    font-weight: 600;
    color: #5c646a;
    padding: 0 0 10px 20px;
    line-height: 22px;
}

.panel-body {
    padding: 15px;
}

.panel .panel-body {
    font-size: 13px;
}

p {
    margin: 20px 0;
}

.portlet > .portlet-body p {
    margin-top: 0;
}

.faq-content-1 .faq-section > .faq-content .panel-body > p {
    color: #6a757e;
    font-size: 14px;
    line-height: 22px;
}

.faq-content-1 .faq-section > .faq-content .panel-body > p:first-child {
    margin-top: 0;
}

.faq-content-1 .faq-section > .faq-content .panel-body > p:last-child {
    margin-bottom: 0;
}

.faq-content-1 .faq-section > .faq-content .panel-body {
    border: none;
    background-color: #f3f6f9;
    margin-left: 20px;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}

.font-red {
    color: #e7505a !important;
}

.control-label {
    margin-top: 1px;
    font-weight: normal;
}

.text-left {
    text-align: left !important;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }
}

.mt-15 {
    margin-top: 15px !important;
}

.panel-heading {
    background: #eee;
}

.panel-danger > .panel-heading {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.font-size-18 {
    font-size: 18px !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.payout-history {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
