<template>
  <div class="portlet light text-center">
    <div>
      <h2 style="padding-top: 0; margin-top: 0;">Billing address</h2>
    </div>
    <div>
      <div>
        Please enter the billing address you want to use for your incoming ReachHero invoices.
        <br />All the invoices will be sent to the entered email address below.
      </div>
    </div>

    <br />
    <div id="billingAddressForm" class="form-horizontal">
      <div class="form-group row">
        <label for="email" class="col-sm-3 control-label text-left">Email Address</label>

        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            placeholder="Email Address"
            data-label="Email Address"
            v-model="billingAddressSettings.email"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="company_name" class="col-sm-3 control-label text-left">Company name</label>

        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            id="companyname"
            name="company_name"
            placeholder="Company name"
            data-label="Company name"
            v-model="billingAddressSettings.company_name"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="cost_center" class="col-sm-3 control-label text-left">
          Cost Centre
          <div style="font-size: 10px;">if available</div>
        </label>

        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            id="costcentre"
            name="cost_center"
            placeholder="Cost Centre"
            data-label="Cost Centre"
            v-model="billingAddressSettings.cost_center"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="gender" class="col-sm-3 control-label text-left">Title</label>

        <div class="col-sm-3">
          <select
            class="form-control"
            id="gender"
            name="gender"
            v-model="billingAddressSettings.gender"
            data-label="Title"
          >
            <option disabled value>[please select]</option>
            <option value="mr" :selected="billingAddressSettings.gender=='mr'">Mr</option>
            <option value="ms" :selected="billingAddressSettings.gender=='ms'">Ms</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="first_name" class="col-sm-3 control-label text-left">First name</label>

        <div class="col-sm-9">
          <input
            type="text"
            id="firstname"
            class="form-control"
            name="first_name"
            placeholder="First name"
            data-label="First name"
            v-model="billingAddressSettings.first_name"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="last_name" class="col-sm-3 control-label text-left">Last name</label>

        <div class="col-sm-9">
          <input
            type="text"
            id="lastname"
            class="form-control"
            name="last_name"
            placeholder="Last name"
            data-label="Last name"
            v-model="billingAddressSettings.last_name"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="street_house" class="col-sm-3 control-label text-left">Street Name and Number</label>

        <div class="col-sm-9">
          <input
            type="text"
            name="street_house"
            class="form-control"
            placeholder="Street Name and Number"
            data-label="Street Name and Number"
            v-model="billingAddressSettings.street_house"
          />
        </div>
      </div>

      <div class="form-group row">
        <label
          for="address_supplement"
          class="col-sm-3 control-label text-left"
        >Additional Information</label>

        <div class="col-sm-9">
          <input
            type="text"
            name="address_supplement"
            class="form-control"
            placeholder="Additional Information"
            data-label="Additional Information"
            v-model="billingAddressSettings.address_supplement"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="zip" class="col-sm-3 control-label text-left">Zip Code</label>

        <div class="col-sm-9">
          <input
            type="text"
            name="zip"
            class="form-control"
            placeholder="Zip Code"
            data-label="Zip Code"
            v-model="billingAddressSettings.zip"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="city" class="col-sm-3 control-label text-left">City</label>

        <div class="col-sm-9">
          <input
            type="text"
            name="city"
            class="form-control"
            placeholder="City"
            data-label="City"
            v-model="billingAddressSettings.city"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="country" class="col-sm-3 control-label text-left">Country</label>

        <div class="col-sm-9">
          <select
            class="form-control"
            id="country"
            name="country"
            data-label="Land"
            v-model="billingAddressSettings.country"
          >
            <option
              v-for="country in countries"
              :value="country.name"
              v-bind:key="country.name"
              :selected="country.name == billingAddressSettings.country"
            >{{ country.name }}</option>
          </select>
        </div>
      </div>

      <div id="vatnumber" class="form-group row">
        <label for="vat_number" class="col-sm-3 control-label text-left">
          Vat number
          <div style="font-size: 12px; font-weight: normal; color: #e60000;">Mandatory</div>
        </label>

        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-12 text-left">
              <input
                type="text"
                title="Letters and numbers only"
                class="form-control vatnumber"
                name="vat_number"
                v-model="billingAddressSettings.vat_number"
                style="width: 240px;"
                data-label="Vat number"
              />

              <div style="font-size: 12px; margin-top: 4px;">(without spaces)</div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="telephone" class="col-sm-3 control-label text-left">Phone</label>

        <div class="col-sm-9">
          <input
            type="text"
            name="telephone"
            class="form-control"
            placeholder="Phone"
            data-label="Phone"
            v-model="billingAddressSettings.telephone"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="fax" class="col-sm-3 control-label text-left">
          Fax
          <div style="font-size: 10px;">if available</div>
        </label>

        <div class="col-sm-9">
          <input
            type="text"
            name="fax"
            class="form-control"
            placeholder="Fax"
            data-label="Fax"
            v-model="billingAddressSettings.fax"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="mobile" class="col-sm-3 control-label text-left">
          Mobile
          <div style="font-size: 10px;">if available</div>
        </label>

        <div class="col-sm-9">
          <input
            type="text"
            name="mobile"
            class="form-control"
            placeholder="Mobile"
            data-label="Mobile"
            v-model="billingAddressSettings.mobile"
          />
        </div>
      </div>

      <div style="text-align: center; margin: 10px 0;">
        <div style="width: 95%; margin: 0px auto; margin-top: 28px;">
          <div style="margin: 20px 0; min-width: 53%; word-wrap:break-word;">
            <button
              type="submit"
              class="btn green"
              data-style="expand-right"
              data-size="s"
              @click="saveChanges"
            >Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      billingAddressSettings: {
        company_name: "",
        email: "",
        first_name: "",
        last_name: "",
        street_house: "",
        telephone: "",
        fax: "",
        mobile: "",
        gender: "",
        country: "",
        city: "",
        zip: "",
        vat_number: "",
        cost_center: "",
        address_supplement: ""
      },
      countries: []
    };
  },

  created() {
    this.getBillingAddressSettingsData();
  },

  methods: {
    getBillingAddressSettingsData() {
      axios
        .get("/brand/settings/getBillingAddressSettingsDataAndCountries")
        .then(({ data }) => {
          this.billingAddressSettings = data.billingAddressSettings;
          this.countries = data.countries;
          console.log(data);
        })
        .catch(err => console.log(err));
    },
    saveChanges() {
      axios
        .post("/brand/settings/billing-address", this.billingAddressSettings)
        .then(({ data }) => {
          this.$swal({
            toast: true,
            icon: "success",
            title: "Settings Successfully Changed",
            position: "top",
            showConfirmButton: false,
            showCloseButton: true
          });
          this.getBillingAddressSettingsData();
        })
        .catch(err => console.log(err));
    }
  }
};
</script>
