<template>
  <div class="portlet light" v-if="countries && settings">
    <div>
      <h2 style="padding-top: 0; margin-top: 0;">General information</h2>
    </div>
    <div>
      <div>
        Please fill out the information about the contact person of your
        company.
      </div>
    </div>
    <br />

    <div class="form-horizontal">
      <div class="form-group row">
        <label for="companyname" class="col-sm-3 control-label text-left">Company name</label>

        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            id="companyname"
            name="company_name"
            placeholder="Company name"
            data-label="Company name"
            v-model="settings.company_name"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="gender" class="col-sm-3 control-label text-left">Title</label>

        <div class="col-sm-3">
          <select
            class="form-control"
            id="salutation"
            name="gender"
            v-model="settings.gender"
            data-label="Title"
          >
            <option disabled value>[please select]</option>
            <option value="mr" :selected="settings.gender == 'mr'">Mr</option>
            <option value="ms" :selected="settings.gender == 'ms'">Ms</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="first_name" class="col-sm-3 control-label text-left">First name</label>

        <div class="col-sm-9">
          <input
            type="text"
            id="firstname"
            class="form-control"
            name="first_name"
            placeholder="First name"
            data-label="First name"
            v-model="settings.first_name"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="last_name" class="col-sm-3 control-label text-left">Last name</label>

        <div class="col-sm-9">
          <input
            type="text"
            id="lastname"
            class="form-control"
            name="last_name"
            placeholder="Last name"
            data-label="Last name"
            v-model="settings.last_name"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="telephone" class="col-sm-3 control-label text-left">Telephone</label>

        <div class="col-sm-9">
          <input
            type="text"
            name="telephone"
            class="form-control"
            placeholder="Telephone"
            data-label="Telephone"
            v-model="settings.telephone"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-sm-3 control-label text-left">Email Address</label>

        <div class="col-sm-9 text-left">
          <div>{{ settings.user.email }}</div>
          <div style="font-size: 12px;">
            To change the email address, please contact
            <a
              href="mailto:brand@reachhero.de"
            >brand@reachhero.de</a>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="street_house" class="col-sm-3 control-label text-left">Street and House Number</label>

        <div class="col-sm-9">
          <input
            type="text"
            name="street_house"
            class="form-control"
            placeholder="Street and House Number"
            data-label="Street and House Number"
            v-model="settings.street_house"
          />
        </div>
      </div>

      <div class="form-group row">
        <label
          for="address_supplement"
          class="col-sm-3 control-label text-left"
        >Address Supplement *</label>

        <div class="col-sm-9">
          <input
            type="text"
            name="address_supplement"
            class="form-control"
            placeholder="Address Supplement"
            data-label="Address Supplement"
            v-model="settings.address_supplement"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="zip" class="col-sm-3 control-label text-left">Zip Code</label>

        <div class="col-sm-9">
          <input
            type="text"
            name="zip"
            class="form-control"
            placeholder="Zip Code"
            data-label="Zip Code"
            v-model="settings.zip"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="city" class="col-sm-3 control-label text-left">City</label>

        <div class="col-sm-9">
          <input
            type="text"
            name="city"
            class="form-control"
            placeholder="City"
            data-label="City"
            v-model="settings.city"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="country" class="col-sm-3 control-label text-left">Country</label>

        <div class="col-sm-9">
          <select
            class="form-control"
            id="country"
            name="country"
            data-label="Land"
            v-model="settings.country"
          >
            <option
              v-for="country in countries"
              v-bind:key="country.name"
              :value="country.name"
              :selected="country.name == settings.country"
            >{{ country.name }}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="website" class="col-sm-3 control-label text-left">Web Address</label>

        <div class="col-sm-9">
          <input
            type="url"
            name="website"
            class="form-control"
            placeholder="Website"
            data-label="Web Address"
            v-model="settings.website"
          />
        </div>
      </div>

      <div class="text-left">
        <small>* optional</small>
      </div>

      <div style="text-align: center; margin: 10px 0;">
        <div style="width: 95%; margin: 0px auto; margin-top: 28px;">
          <div style="margin: 20px 0; min-width: 53%; word-wrap:break-word;">
            <button
              type="submit"
              class="btn green"
              data-style="expand-right"
              data-size="s"
              @click="saveChanges"
            >Save Changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      settings: {
        company_name: "",
        first_name: "",
        last_name: "",
        street_house: "",
        telephone: "",
        gender: "[please select]",
        country: "United States",
        city: "",
        zip: "",
        address_supplement: "",
        website: ""
      },
      countries: []
    };
  },

  created() {
    this.getSettingsData();
  },

  methods: {
    getSettingsData() {
      axios
        .get("/brand/settings/getSettingsAndCountries")
        .then(({ data }) => {
          console.log(data);
          this.settings = data.settings;
          this.settings.first_name = data.settings.first_name
            ? data.settings.first_name
            : data.settings.user.name;
          this.countries = data.countries;
          console.log(data);
        })
        .catch(err => console.log(err));
    },
    saveChanges() {
      axios
        .post("/brand/settings", this.settings)
        .then(({ data }) => {
          this.$swal({
            toast: true,
            icon: "success",
            title: "Settings Successfully Changed",
            position: "top",
            showConfirmButton: false,
            showCloseButton: true
          });
          this.getSettingsData();
        })
        .catch(err => console.log(err));
    }
  }
};
</script>
