<template>
  <div class="portlet light">
    <div class="portlet-title tabbable-line">
      <div class="caption">
        <span class="caption-subject font-green bold uppercase">Email Notifications</span>
      </div>
    </div>

    <div class="note note-info">
      <p>
        Set here for which ReachHero activities you want to receive an email notification.
        <br />
        (Notifications will be sent to: {{ emailNotificationsSettings.user.email }} )
      </p>
    </div>

    <form
      id="email-form"
      class="form-horizontal mt-40"
      action="/brand/settings/save-email-notifications"
      method="POST"
    >
      <div class="form-body">
        <div class="form-group row">
          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <div class="inline-block">
              <label>
                <i class="fa fa-list-ul font-lg font-blue-hoki mr-12 mt-5"></i>
                <b>
                  Summary / Overview
                  <i
                    class="fa fa-question-circle tooltips"
                    title="You will receive an overview e-mail with all Influencer offers and requests to which you have not yet responded"
                    aria-hidden="true"
                  ></i>
                </b>
              </label>
            </div>
          </div>
          <div class="input-group col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
            <div class="mb-8">
              <div class="radio" id="uniform-actions-required-summary-email-1">
                <span>
                  <input
                    type="radio"
                    id="actions-required-summary-email-1"
                    name="category_2"
                    value="1"
                    v-model="emailNotificationsSettings.summary"
                    :checked="emailNotificationsSettings.summary == '1'"
                  />
                </span>
              </div>
              <label for="actions-required-summary-email-1" class="shift-down-5">Daily</label>
            </div>
            <div class="mb-8">
              <div class="radio" id="uniform-actions-required-summary-email-7">
                <span class="checked">
                  <input
                    type="radio"
                    id="actions-required-summary-email-7"
                    name="category_2"
                    value="7"
                    v-model="emailNotificationsSettings.summary"
                    :checked="emailNotificationsSettings.summary == '7'"
                  />
                </span>
              </div>
              <label for="actions-required-summary-email-7" class="shift-down-5">Every week (monday)</label>
            </div>
            <div class="mb-8">
              <div class="radio" id="uniform-actions-required-summary-email-14">
                <span>
                  <input
                    type="radio"
                    id="actions-required-summary-email-14"
                    name="category_2"
                    value="14"
                    v-model="emailNotificationsSettings.summary"
                    :checked="emailNotificationsSettings.summary == '14'"
                  />
                </span>
              </div>
              <label
                for="actions-required-summary-email-14"
                class="shift-down-5"
              >Every 2 weeks (monday)</label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <label for="placement_campaign_proposal">
              <div class="inline-block">
                <i
                  class="fa fa-paper-plane font-lg font-blue-hoki mr-12 mt-5"
                  style="margin-top: 2px !important;"
                ></i>
                <b>New proposal for placement campaign</b>
              </div>
            </label>
          </div>
          <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
            <div
              class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-on bootstrap-switch-small bootstrap-switch-id-placement_campaign_proposal bootstrap-switch-animate"
              style="width: 84px;"
            >
              <div
                class="bootstrap-switch-container new-proposal-for-placement-campaign"
                style="width: 123px; margin-left: 0px;"
                @click="emailNotificationsSettings.newProposalForPlacementCampaign = !emailNotificationsSettings.newProposalForPlacementCampaign"
              >
                <span
                  class="bootstrap-switch-handle-on bootstrap-switch-success"
                  style="width: 41px;"
                >ON</span>
                <span class="bootstrap-switch-label" style="width: 41px;">&nbsp;</span>
                <span
                  class="bootstrap-switch-handle-off bootstrap-switch-danger"
                  style="width: 41px;"
                >OFF</span>
                <input
                  type="checkbox"
                  id="placement_campaign_proposal"
                  name="category_0"
                  class="make-switch"
                  data-size="small"
                  data-on-color="success"
                  data-off-color="danger"
                  checked="checked"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <label for="performance_campaign_proposal">
              <div class="inline-block">
                <i
                  class="fa fa-paper-plane font-lg font-blue-hoki mr-12 mt-5"
                  style="margin-top: 2px !important;"
                ></i>
                <b>New participant for performance campaign</b>
              </div>
            </label>
          </div>
          <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
            <div
              class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-on bootstrap-switch-small bootstrap-switch-id-performance_campaign_proposal bootstrap-switch-animate"
              style="width: 84px;"
            >
              <div
                class="bootstrap-switch-container new-participant-for-performance-campaign"
                style="width: 123px; margin-left: 0px;"
                @click="emailNotificationsSettings.newParticipantForPerformanceCampaign = !emailNotificationsSettings.newParticipantForPerformanceCampaign"
              >
                <span
                  class="bootstrap-switch-handle-on bootstrap-switch-success"
                  style="width: 41px;"
                >ON</span>
                <span class="bootstrap-switch-label" style="width: 41px;">&nbsp;</span>
                <span
                  class="bootstrap-switch-handle-off bootstrap-switch-danger"
                  style="width: 41px;"
                >OFF</span>
                <input
                  type="checkbox"
                  id="performance_campaign_proposal"
                  name="category_1"
                  class="make-switch"
                  data-size="small"
                  data-on-color="success"
                  data-off-color="danger"
                  checked="checked"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <label for="giveaway_campaign_request">
              <div class="inline-block">
                <i
                  class="fa fa-paper-plane font-lg font-blue-hoki mr-12 mt-5"
                  style="margin-top: 2px !important;"
                ></i>
                <b>New request for giveaway campaign</b>
              </div>
            </label>
          </div>
          <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
            <div
              class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-on bootstrap-switch-small bootstrap-switch-id-giveaway_campaign_request bootstrap-switch-animate"
              style="width: 84px;"
            >
              <div
                class="bootstrap-switch-container new-request-for-giveaway-campaign"
                style="width: 123px; margin-left: 0px;"
                @click="emailNotificationsSettings.newRequestForGiveawayCampaign = !emailNotificationsSettings.newRequestForGiveawayCampaign"
              >
                <span
                  class="bootstrap-switch-handle-on bootstrap-switch-success"
                  style="width: 41px;"
                >ON</span>
                <span class="bootstrap-switch-label" style="width: 41px;">&nbsp;</span>
                <span
                  class="bootstrap-switch-handle-off bootstrap-switch-danger"
                  style="width: 41px;"
                >OFF</span>
                <input
                  type="checkbox"
                  id="giveaway_campaign_request"
                  name="category_3"
                  class="make-switch"
                  data-size="small"
                  data-on-color="success"
                  data-off-color="danger"
                  checked="checked"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <label for="giveaway_campaign_request">
              <div class="inline-block">
                <i class="fa fa-picture-o font-lg font-blue-hoki margin-right-12 margin-top-5"></i>
                <b>Campaign Content Published</b>
              </div>
            </label>
          </div>
          <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
            <div
              class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-on bootstrap-switch-small bootstrap-switch-id-campaign_content_published bootstrap-switch-animate"
              style="width: 84px;"
            >
              <div
                class="bootstrap-switch-container campaign-content-published"
                style="width: 123px; margin-left: 0px;"
                @click="emailNotificationsSettings.campaignContentPublished = !emailNotificationsSettings.campaignContentPublished"
              >
                <span
                  class="bootstrap-switch-handle-on bootstrap-switch-success"
                  style="width: 41px;"
                >ON</span>
                <span class="bootstrap-switch-label" style="width: 41px;">&nbsp;</span>
                <span
                  class="bootstrap-switch-handle-off bootstrap-switch-danger"
                  style="width: 41px;"
                >OFF</span>
                <input
                  type="checkbox"
                  id="campaign_content_published"
                  name="category_5"
                  class="make-switch"
                  data-size="small"
                  data-on-color="success"
                  data-off-color="danger"
                  checked="checked"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <label for="new_message">
              <div class="inline-block">
                <i class="icon-bubbles font-lg font-blue-hoki margin-right-12 margin-top-5"></i>
                <b>New message</b>
              </div>
            </label>
          </div>
          <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
            <div
              class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-on bootstrap-switch-small bootstrap-switch-id-new_message bootstrap-switch-animate"
              style="width: 84px;"
            >
              <div
                class="bootstrap-switch-container new-message"
                style="width: 123px; margin-left: 0px;"
                @click="emailNotificationsSettings.newMessage = !emailNotificationsSettings.newMessage"
              >
                <span
                  class="bootstrap-switch-handle-on bootstrap-switch-success"
                  style="width: 41px;"
                >ON</span>
                <span class="bootstrap-switch-label" style="width: 41px;">&nbsp;</span>
                <span
                  class="bootstrap-switch-handle-off bootstrap-switch-danger"
                  style="width: 41px;"
                >OFF</span>
                <input
                  type="checkbox"
                  id="new_message"
                  name="newMessage"
                  class="make-switch"
                  data-size="small"
                  data-on-color="success"
                  data-off-color="danger"
                  checked="checked"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center margin-top-40">
        <a
          id="submit-button"
          class="btn green ladda ladda-button"
          data-style="zoom-in"
          @click="saveChanges"
        >
          <span class="ladda-label">Save changes</span>
          <span class="ladda-spinner"></span>
        </a>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      emailNotificationsSettings: {
        summary: "1",
        newProposalForPlacementCampaign: true,
        newParticipantForPerformanceCampaign: true,
        newRequestForGiveawayCampaign: true,
        campaignContentPublished: true,
        newMessage: true,
        user: {
          email: ""
        }
      }
    };
  },
  created() {
    this.getEmailNotificationsSettings();
  },

  methods: {
    getEmailNotificationsSettings() {
      axios
        .get("/brand/settings/getEmailNotificationsSettings")
        .then(({ data }) => {
          this.emailNotificationsSettings = data.emailNotificationsSettings;
          this.emailNotificationsSettings.newMessage === 0
            ? document
                .querySelector(".new-message")
                .classList.add("change-margin")
            : "";
          this.emailNotificationsSettings.newProposalForPlacementCampaign === 0
            ? document
                .querySelector(".new-proposal-for-placement-campaign")
                .classList.add("change-margin")
            : "";
          this.emailNotificationsSettings
            .newParticipantForPerformanceCampaign === 0
            ? document
                .querySelector(".new-participant-for-performance-campaign")
                .classList.add("change-margin")
            : "";
          this.emailNotificationsSettings.newRequestForGiveawayCampaign === 0
            ? document
                .querySelector(".new-request-for-giveaway-campaign")
                .classList.add("change-margin")
            : "";
          this.emailNotificationsSettings.campaignContentPublished === 0
            ? document
                .querySelector(".campaign-content-published")
                .classList.add("change-margin")
            : "";
          console.log(data);
        })
        .catch(err => console.log(err));
    },
    saveChanges() {
      axios
        .post(
          "/brand/settings/postEmailNotificationsSettings",
          this.emailNotificationsSettings
        )
        .then(({ data }) => {
          this.$swal({
            toast: true,
            icon: "success",
            title: "Settings Successfully Changed",
            position: "top",
            showConfirmButton: false,
            showCloseButton: true
          });
          this.getEmailNotificationsSettings();
        })
        .catch(err => console.log(err));
    }
  }
};
</script>
