<template>
  <div>
    <a class="btn blue" @click="manageBrand()">Manage User Access</a>
    <div class="model-outer" v-if="showModel">
      <div class="com-model" :class="enter">
        <div class="page-quick-sidebar">
          <div v-if="showLoader" class="campaignsLoader loaderhider">
            <img src="/images/gifs/line.svg" />
          </div>
          <div class="model-inner p-1">
            <div class="nav-justified">
              <ul class="nav nav-tabs nav-justified">
                <li class="active" style="background: none; width: 50%">
                  <a href="#quick_sidebar_tab_details" data-toggle="tab">Accounts</a>
                </li>
                <li class="right" style="background: none; width: 50%">
                  <a @click="manageBrand()" class="closeSidebar">
                    <i class="fa fa-times"></i> Close
                  </a>
                </li>
              </ul>
              <div class="tab-content">
                <div
                  class="tab-pane active page-quick-sidebar-alerts"
                  style="background: none"
                  id="quick_sidebar_tab_details"
                >
                  <div
                    class="slimScrollDiv"
                    style="position: relative; overflow: hidden; width: auto; height: 360px;"
                  >
                    <div
                      class="page-quick-sidebar-alerts-list"
                      data-height="360"
                      data-initialized="1"
                      style="overflow: hidden; width: auto; height: 360px;"
                    >
                      <ul
                        id="users-listing"
                        class="media-list list-items"
                        style="margin: 0px; padding: 0px 40px 0px 0px !important;"
                      >
                        <div v-for="(allowedUser, index) in  allowedUsers">
                          <li v-if="allowedUser != loginUserEmail" id class="media user">
                            <div class="media-body" style="position: relative">
                              <h4
                                class="media-heading"
                                style="margin-top: 10px; margin-left: -56px; margin-bottom: 10px;color: #eadddd;"
                              >{{allowedUser}}</h4>
                              <a
                                @click="deleteUser(index)"
                                class="socicon-btn socicon-btn-circle socicon-sm socicon-solid bg-red bg-hover-grey-salsa font-white bg-hover-white"
                                style="position: absolute; right: -29px; top: 5px;"
                              >
                                <span aria-hidden="true" class="fas fa-trash"></span>
                              </a>
                            </div>
                          </li>
                          <li v-if="allowedUser == loginUserEmail" id class="media user">
                            <div class="media-body" style="position: relative">
                              <h4
                                class="media-heading"
                                style="margin-top: 10px; margin-left: -80px; margin-bottom: 10px;color: #eadddd;"
                              >{{allowedUser}}</h4>
                            </div>
                          </li>
                        </div>
                        <!-- Show Loading -->
                        <div class="sk-wave light loader" v-show="showLoader">
                          <div class="sk-rect sk-rect1"></div>
                          <div class="sk-rect sk-rect2"></div>
                          <div class="sk-rect sk-rect3"></div>
                          <div class="sk-rect sk-rect4"></div>
                          <div class="sk-rect sk-rect5"></div>
                        </div>
                        <li class="media">
                          <div class="media-body" style="position: relative">
                            <input
                              type="text"
                              id="newUserEmail"
                              v-model="newUserEmail"
                              class="form-control input-inline input-medium"
                              placeholder="Email address"
                            />
                            <br />
                            <span
                              id="newUserError"
                              style="color: red;font-weight: 100; line-height: 1.1em; display: none; padding-left: 5px; padding-top: 8px;"
                            ></span>
                            <a
                              @click="addUser()"
                              class="socicon-btn socicon-btn-circle socicon-sm socicon-solid bg-red bg-hover-grey-salsa font-white bg-hover-white"
                              style="position: absolute; right: -44px; top: 0px;"
                            >+</a>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div
                      class="slimScrollBar"
                      style="background: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 360px;"
                    ></div>
                    <div
                      class="slimScrollRail"
                      style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["id"],
  data() {
    return {
      showModel: false,
      showLoader: false,
      enter: "",
      allowedUsers: [],
      loginUserEmail: "",
      newUserEmail: "",
      newAllowedUsers: []
    };
  },
  methods: {
    manageBrand() {
      if (this.showModel == false) {
        this.getAllowedUsers();
      }

      this.showModel = !this.showModel;
      if (this.enter == "enter") {
        this.enter = "";
      } else {
        this.enter = "enter";
      }
    },
    getAllowedUsers() {
      this.showLoader = true;
      axios
        .get(`/brand/settings/get-allowed-users/${this.id}`)
        .then(({ data }) => {
          console.log(data);
          this.allowedUsers = data.allowedUsers;
          this.allowedUsers.pop(1);
          this.loginUserEmail = data.loginUserEmail;
          this.showLoader = false;
        })
        .catch(err => console.log(err));
    },
    addUser() {
      if (this.newUserEmail == "") {
        return;
      }

      this.userAlreadyExists = false;
      this.allowedUsers.map(allowedUser => {
        if (allowedUser == this.newUserEmail) {
          this.userAlreadyExists = true;
        }
      });
      if (!this.userAlreadyExists) {
        axios
          .post(`/brand/settings/add-allowed-user/${this.id}`, {
            newUserEmail: this.newUserEmail
          })
          .then(({ data }) => {
            console.log(data);
            this.getAllowedUsers();
            this.$swal({
              toast: true,
              icon: "success",
              title: "User Successfully Added",
              position: "top",
              showConfirmButton: false,
              showCloseButton: true
            });
            this.newUserEmail = "";
          })
          .catch(({ response }) => console.log(response.data.message));
      } else {
        this.$swal({
          toast: true,
          icon: "error",
          title: "User Already Exists",
          position: "top",
          showConfirmButton: false,
          showCloseButton: true
        });
      }
    },
    deleteUser(index) {
      this.newAllowedUsers = [];
      this.allowedUsers.map(allowedUser => {
        if (this.allowedUsers[index] != allowedUser) {
          this.newAllowedUsers.push(allowedUser);
        }
      });
      //   console.log(this.newAllowedUsers);
      axios
        .post(`/brand/settings/delete-allowed-user/${this.id}`, {
          newAllowedUsers: this.newAllowedUsers
        })
        .then(({ data }) => {
          console.log(data);
          this.getAllowedUsers();
          this.$swal({
            toast: true,
            icon: "success",
            title: "User Successfully Removed",
            position: "top",
            showConfirmButton: false,
            showCloseButton: true
          });
        })
        .catch(({ response }) => console.log(response.data.message));
    }
  }
};
</script>
