<template>
    <div class="portlet light text-center">
        <img
            v-if="profileImage"
            :src="`/images/brand/profile/${profileImage}`"
            class="circularBig profilPicture margin-top-20"
            style="margin: 0 auto; border: 4px solid #000;"
        />

        <p><b>Ideal image size:</b> 200px x 200px</p>

        <vue-dropzone
            ref="myVueDropzone"
            id="dropzone"
            :options="dropzoneOptions"
            v-on:vdropzone-success="uploadSuccess"
        ></vue-dropzone>
    </div>
</template>

<script>
import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";

export default {
    components: {
        vueDropzone: vue2Dropzone
    },
    data: function() {
        return {
            profileImage: "",
            dropzoneOptions: {
                url: "/brand/settings/profile",
                headers: {
                    "X-CSRF-TOKEN": document.head.querySelector(
                        "[name=csrf-token]"
                    ).content
                }
            }
        };
    },
    mounted() {
        console.log("Component mounted.");
    },
    created() {
        this.getProfileImage();
    },
    methods: {
        getProfileImage() {
            axios
                .get("/brand/settings/getProfileImage")
                .then(({ data }) => {
                    console.log(data.settings.profile_image);
                    this.profileImage = data.settings.profile_image;
                })
                .catch(err => console.log(err));
        },
        uploadSuccess() {
            this.getProfileImage();
            this.$swal({
                toast: true,
                icon: "success",
                title: "Profile Picture Successfully Changed",
                position: "top",
                showConfirmButton: false,
                showCloseButton: true
            });
        }
    }
};
</script>
