:root {
    --primary: red;
}
  

.product-photos{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.product-photos .single-photo{
    flex:1 1 150px;

}
.cost-range{
    display:flex;

}
.red{
    color:var(--primary);
}
.preview-container{
    width:150px;
    height:auto;
    border:1px solid gray;
    opacity:7;
}
.preview-container:hover{
    opacity:1;
    cursor:pointer;
}
.preview-container img{
    width:100%;
    height:100%;
}
li{
    color:black!important;
}
.irs--round .irs-bar {
    top: 36px;
    height: 4px;
    background-color: var(--primary)!important;
}
.irs--round .irs-handle {
    top: 26px;
    width: 24px;
    height: 24px;
    border: 4px solid var(--primary)!important;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 1px 3px rgba(0,0,255,0.3);
}
.irs--round .irs-to, .irs--round .irs-single {
    font-size: 14px;
    line-height: 1;
    text-shadow: none;
    padding: 3px 5px;
    background-color: var(--primary)!important;
    color: white;
    border-radius: 4px;
}
.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
    font-size: 14px;
    line-height: 1;
    text-shadow: none;
    padding: 3px 5px;
    background-color: var(--primary)!important;
    color: white;
    border-radius: 4px;
}
.irs--round .irs-from:before, .irs--round .irs-to:before, .irs--round .irs-single:before {
    position: absolute;
    display: block;
    content: "";
    bottom: -6px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -3px;
    overflow: hidden;
    border: 3px solid transparent;
    border-top-color: var(--primary)!important;
}

.socials-circle{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
    margin-top:13vh;
}
.socials-circle div{
    flex:0 1 auto;
    font-size: 70px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.socials-circle div .ft{
    font-size:20px;
}
.section-hide{
    display:none!important;

}
.socials-circle div .round{
    margin:10px 20px;
    border-radius:100%;
}
.socials-circle div .round:hover{
    cursor:pointer;
}
.socials-circle div .md{
    padding:42px 55px;
}
.socials-circle div .sm{
    padding:44px 45px;
}
.socials-circle div .lg{
    padding:43px 36px;
}
.youtube{
    background-color: #BC1C0E;
    color:white;
}
.instagram{
    background-color: #E66A5E;
    color:white;
}
.twitter{
    background-color: #70B8F2;
    color:white;
}
.facebook{
    background-color: #4966A2;
    color:white;
}
.blog{
    background-color: #EF7438;
    color:white;
}
.in_active{
    background-color: gainsboro!important;
}
.btn-social{
    padding:10px 60px;
    font-size: 20px;
    color:red;
    background-color: white;
    border:2px solid red;
    border-radius: 40px;
    transition: all 0.5s ease;
}
.btn-social:hover{
    color:white;
    background-color: red;
    cursor:pointer;
}
.social-form{
    margin-top:75px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}