.social-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.social-image span{
    transform:translateY(9px)
}
.social-image div{
    width:40px;
    height:40px;
    border-radius:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right:5px;
}
.social-image div i{
    font-size: 23px;
}
.youtube{
    background-color: #BC1C0E;
    color:white;
}
.instagram{
    background-color: #E66A5E;
    color:white;
}
.twitter{
    background-color: #70B8F2;
    color:white;
}
.facebook{
    background-color: #4966A2;
    color:white;
}
.blog{
    background-color: #EF7438;
    color:white;
}

.img-container{
    width:100%;
    height:auto;
}
.img-container img{
    width:100%;
    height:auto;
}
.card-heading{
    margin:5px;
    font-weight:1000;
}
.card-btn{
    display:flex;
    align-items:center;
    justify-content:center;
}
.main-header {
    z-index: 0!important;
}

.card-price{
    position:absolute;
    font-size:20px;
    top:10px;
    left:4px;
}
.campaignsLoader{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:10px;
}
.loaderhider{
    display:none!important;
}
.anim {
    animation: scalee 0.6s linear;
}
@keyframes scalee {
    0% {
        /* transition:100px; */
        transform: scale(0.5);
        opacity: 0;
    }
    60% {
        transition:60px;
        /* translate:50px; */
        transform: scale(0.9);
        opacity: 0.8;
    }

    100% {
        transition:10px;
        /* translate:0px; */
        transform: scale(1);
        opacity: 1;
    }
}
.page-wrap-class{
    /* pointer-events:none; */
    position: static!important; 
    overflow-y:auto!important;
    opacity:0.5;
    filter: blur(5px) grayscale(20%);
}
.com-model{
    position:fixed;
    right:0px;
    top:40px;
    max-width:75%;
    height:100vh;
    z-index:4;
    overflow-y:scroll;
    /* pointer-events:all; */
    transition: all 1s ease-in-out;
    transform:translateX(100%);
}
@media(max-width:780px){
    .com-model{
        max-width: 100%;
    }
}
.model-body{
    width:100%;
    border:14px solid rgb(27, 27, 27);
    border-top:57px solid rgb(20, 20, 20);
    background-color:rgb(255, 255, 255);
}
.model-padding{
    padding:30px;
}
@media(max-width:780px){
    .model-padding{
        padding:10px;
    }   
}
.enter{
    transform:translateX(0%)!important;  
}
.complete-card{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.complete-card h3{
    font-weight: 550;
    text-transform: capitalize;
}
.model-cross1{
    float:right;
    transform: translateY(-42px);
    cursor:pointer;
}
.model-cross2{
    float:right;
    transform: translateY(-65px);
    cursor:pointer;
}

@media(max-width:780px){
    .model-cross2,.model-cross1{
        transform: translateY(-45px);
    }
}
.model-cross2,.model-cross1 i{
    color:white;
    font-size:25px;
}
.model-outer{
    position:fixed;
    width:100%;
    height:100%;
}
.full-container{
    width:335px;
}
.full-container img{
    width:100%;
    height: 100%;
}
.gross-input{
    width:150px;
}
@media(max-width:780px){
    .full-container{
        width:100%;
    }
    .full-container img{
        width:100%;
        height: auto;
    }
    .gross-input{
        width:100px;
    }
}

.cost-badge{
    padding:4px;
    font-size:20px;
    font-weight: 700;
    background-color:#67809F;
    color:white;
    border-radius:3px;
}

  
  /* ::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-track {
    background: #1b1b1b;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(151, 150, 150);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(207, 207, 207);
  } */


  div.com-model::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  div.com-model::-webkit-scrollbar-track {
    background: #1b1b1b;
  }
  
  /* Handle */
  div.com-model::-webkit-scrollbar-thumb {
    background: rgb(53, 53, 53);
  }
  
  /* Handle on hover */
  div.com-model::-webkit-scrollbar-thumb:hover {
    background: rgb(131, 130, 130);
  }

  .campaigns-tabs{
    display:flex;
    border-bottom:1px solid gainsboro;
    margin-bottom:10px;
    padding:10px 15px;

  }
  .campaigns-tabs a span{
      padding:10px 15px;
  }
  .campaigns-tabs a{
    text-decoration: none;
    color:rgb(27, 27, 27);
  }
  .campaigns-tabs a span:hover{
    border-bottom:4px solid rgb(252, 66, 66);
  } 
  .campaigns-tabs .active{
      background-color: transparent!important;
      border-bottom:4px solid red;
    cursor: default;
  }
  .campaign-head{
      font-weight:100;
      font-size: 2em;
  }
  .campaign-select{
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items:center;
  }
  .campaign-select select{
      flex:0 1 200px;
      margin-right:20px;
  }
  .select-image{
      width:100px;
      height: auto;
  }
  .select-image img{
      width:100%;
      height:100%;
  }
.offer-section{
    font-size: 16px;
    margin:10px;
    display: flex;
    flex-direction:column;
    border:1px solid rgb(175, 175, 175);
    background-color: #F5F5F5;
}
.offer-section .offer{
    flex:1 1 auto;
    margin:5px;
    border:1px solid rgb(175, 175, 175);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding:20px;
    flex-wrap:wrap;
}
@media(max-width:780px){
    .offer-section{
        flex-direction: row;
        overflow-x: scroll;
    }
    .offer-section .offer{
        flex:1 0 300px;

    }
}
.offer-section .offer .of1{
    flex:1 1 163px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:5px;
}
.offer-section .offer .of1 p{
    text-align:center;
    font-size:0.8em;
}
.offer-section .offer .of1 h3{
    font-size:1.1em;
    font-weight: bold;
}
.offer-section .offer .of2{
    flex:1 1 200px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    margin:5px 10px;
}
.offer-section .offer .of2 p{
    text-align:center;
    font-size:0.8em;
}
.offer-section .offer .of2 h3{
    font-size:1.1em;
    font-weight: bold;
}
.offer-section .offer .of3{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}
.offer-section .offer .of3 input{
    width:100px;
}
.earning{
    margin:100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.earning table{
    flex:0 1 400px;
}
.offer-details{
    display:flex;
    justify-content:center;
    align-items: center;
}
.offer-details .inner{
    font-size: 16px;
    flex:0 1 60%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid rgb(163, 163, 163);
    border-radius:5px;
    padding:20px;
}
@media(max-width:780px){
    .offer-details .inner{
        flex:0 1 90%;
    }
    .offer-details .inner h2{
        font-size:23px;
        font-weight:700;
    }
}
@media(max-width:480px){
    .offer-details .inner{
        flex:0 1 98%;
    }
}
.offer-details .inner div{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction:row;
    flex-wrap:wrap;
}
.offer-details .inner p{
    text-align:center;
}
.offer-details .inner div span{
    width:100px;
    margin:5px;
}
.offer-details .inner div span img{
    width:100%;
    height:100%;
    border-radius:100%;
}
.offer-details .inner div textarea{
    max-width: 360px;
}
@media(max-width:780px){
    .offer-details .inner div textarea{
        max-width: 400px;
    }
    .offer-details .inner div span{
        margin:10px 0px;
    }

}
.offer-details div{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.offer-details div p{
    text-align: center;

    margin:20px 0px;
}
.earning table tr{
    margin:10px 0px;
    /* padding:5px; */
}
.earning table tr td{
    float:right;
    padding:3px;
}
.earning table .border-line{
    border-bottom:solid 1px rgb(212, 212, 212)!important;
}
.comp_in_active{
    background-color: gainsboro!important;
    opacity:0.5;
}
#circle-loader img{
    width: 50px;
}
#offer-errors{
    margin-top:20px;
    color:red;
    display:flex;
    justify-content: center;
    align-items: center;
}
.offer-alert{
    display:flex;
    justify-content: center;
    align-items: center;
}
.gross-earning{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lower-detail{
    display:flex;
    flex-direction: column;
}
.table-style{
    width:100%;
    overflow-x:scroll;
    /* padding-right:80px; */
}
