

.influ-item{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    opacity:5;
    
}

.influ-item i{
    font-size: 24px;
    
}
.influ-sidebar{
    background-color:rgb(38,52,75)!important;
    opacity: 5;
}
.imageHide{
    display:none;
}
.socials-icons{
    display:flex;
    flex-wrap: wrap;
}
.socials-icons .icon div{
    width:55px;
    height: 55px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:30px;
    border-radius:100%;
    margin-right:4px;
}
div.foo::-webkit-scrollbar {
    width: 7px;
    
  }
  
  /* Track */
div.foo::-webkit-scrollbar-track {
    background: rgb(51, 51, 51); 
    border-radius: 10%;
  }
   
  /* Handle */
  div.foo::-webkit-scrollbar-thumb {
    background: #555; 
  }
  
  /* Handle on hover */
  div.foo::-webkit-scrollbar-thumb:hover {
    background: #888; 

  }

  ::-webkit-scrollbar-track {
    background: rgb(51, 51, 51); 
    border-radius: 10%;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 10%;

  }

  .flex-container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap; 
    justify-content: flex-start; 
  }
  .card-size{
    flex:0 1 335px;
    margin:10px;
    height: auto;
    
  }
  .social-container{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    font-size: 14px;
  }
  @media(max-width:780px){
    .flex-container{
      justify-content: center; 
      align-items: center;
    }
  }