.campaign-buttons{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    margin-bottom:40px;
}
#show-owl-carousel{
    max-width:450px;
}
.card-image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:13px;
}

.show-sec{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.show-sec .child1{
    flex:1 1 400px;
    margin: 5px;
    
}
.show-sec .child2{
    flex:1 1 650px;
    margin: 5px;
    height: auto;
}
.model-outer{
    position:fixed;
    width:100%;
    height:100%;
    z-index: 1100!important;
}
.com-model{
    position:fixed;
    right:0px;
    top:0px;
    max-width:75%;
    height:100vh;
    z-index:1100!important;
    overflow-y:scroll;
    /* pointer-events:all; */
    transition: all 1s ease-in-out;
    transform:translateX(100%);
}
@media(max-width:780px){
    .com-model{
        max-width: 100%;
    }
}
.model-body{
    width:100%;
    border:14px solid rgb(27, 27, 27);
    border-top:57px solid rgb(20, 20, 20);
    background-color:rgb(255, 255, 255);
}
.enter{
    transform:translateX(0%)!important;  
}
.profile-card{
    padding:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.card .child{
    width:100%;
    height:250px;
    background-color: rgb(27, 37, 53);
    background-image: radial-gradient(at 50% 100%, rgb(43, 49, 58), rgb(84, 85, 87));
    display:flex;
    align-items:flex-end;
    flex-direction:column;
    color:white;
    padding:20px;
}
.card .child h2{
    padding:5px;
}

.btn-ac-rej{
    width:150px;
    height:50px;
    padding:4px 15px;
    color:white;
    border-radius:30px;
    text-align:center;
    border:solid 1px white;
    margin:20px 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    z-index:40;
}
.btn-ac-rej:hover{
    cursor:pointer;
}
.btn-ac-rej:active{
    opacity: 0.7;
}
.btn-accept{
    background-color:rgb(0, 131, 0);
}
.btn-reject{
    background-color:rgb(202, 9, 9);
}
.card .profile{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    transform: translateY(-200px);
}

.card .profile .child1{
    z-index:20;
    flex:0 1 171px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    text-align: left;
    padding:10px;
}
.card .profile .child2{
    flex:0 1 608px;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction:column;
    text-align: left;
    padding:10px;
    transform: translateY(120px);

}

.card .profile .child1 .profile-img{
    width:250px;
    height:250px;
}

.card .profile .profile-img img{
    width:100%;
    height: 100%;
    border-radius: 100%;
    border:solid 2px white;
}
.card .profile .child2 h3{
    margin-top:20px;
}
.card .profile .child1 h1{
    color:white;
    font-weight:700;
}

.card .profile .child1 .ch{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.card .profile .child1 .ch h5{
    margin-top:5px;
}
.card .profile .child1 .ch div{
    display:flex;
    flex-direction: row;
}


@media(max-width:780px){
    
    .card .profile .child1 .profile-img{
        width:200px;
        height:200px;
    }
    .card .profile{
        justify-content: flex-start;
        align-items: flex-start;
    }
    /* .card .profile .child1{
        justify-content: flex-start;
        align-items: flex-start;
    } */
    .btn-ac-rej{
        width:120px;
        height:60px;
        font-size: 15px;
    }
    .card .profile .child2{
        transform: translateY(0px);
    }
    .card .profile .child1 .ch h5{
        margin-top:0px;
        font-size: 16px;
        font-weight: 500;
    }

}
@media(max-width:500px){
    .card .profile{
        justify-content: flex-start;
        align-items: flex-start;
    }
    .card .profile .child1 .profile-img{
        width:150px;
        height:150px;
    }
    .card .profile .child1{
        justify-content: flex-start;
        align-items: flex-start;
    }
    .card .profile .child1 h1{
        font-size: 25px;
        margin-left:37px;
    }
    .card .child h2{
        font-size: 25px;
    }
    .btn-ac-rej{
        width:80px;
        height:60px;
        font-size: 15px;
    }
    .card .profile .child1 .ch {
        margin-left: 30px;
    }
}
.socials-sec{
    width:100%;
    display:flex;
    /* justify-self: flex-start;
    align-items: flex-start; */
    flex-wrap:wrap;
}
.pull-up{
    transform: translateY(-100px);
    width:100%;
    height: 100%;
    text-align: center;
}
.pull-up h2{
    font-weight: 700;
}
.socials-sec .card{
    flex:0 1 420px;
    height: auto;
    display:flex;
    justify-self: center;
    align-items: center;
    padding:15px;
    margin:20px;   
  
}
@media(max-width:780px){
    .socials-sec{
        justify-content: center;
        align-items: center;
    }

}
.socials-sec .card .channel-img{
    width:50px;
    height:50px;
    
}
.socials-sec .card .channel-img img{
    width:100%;
    height:100%;
    border-radius:100%;
}
.socials-sec table tr td{
    padding:12px;
}
.socials-sec table tr th{
    padding:12px;
}
.facebook-border{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    /* border:solid 1px #4966A2; */
    border-radius: 10px;
}
.instagram-border{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    /* border:solid 1px #E66A5E; */
    border-radius: 10px;
}
.center-out{
    display:flex;
    justify-self: center;
    align-items: center;
}
.table-style{
    width:100%;
    overflow-x:scroll;
    /* padding-right:80px; */
}
@media(max-width:780px){
    .badge-date h4{
        font-size:20px;
    }
}