@media (min-width: 992px) {
    .page-sidebar.navbar-collapse {
        max-height: none !important;
    }
}

.page-sidebar.navbar-collapse,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover.navbar-collapse {
    padding: 0;
    box-shadow: none;
}

@media (min-width: 768px) {
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
}

@media (min-width: 991px) {
    .page-sidebar {
        position: unset;
    }
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover,
.page-sidebar {
    background-color: #26344b;
}

@media (min-width: 992px) {
    .page-sidebar {
        width: 195px;
        float: left;
        position: relative;
        margin-right: -100%;
    }
}
.page-sidebar,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
}

.page-sidebar .page-sidebar-menu,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 992px) {
    .page-sidebar .page-sidebar-menu {
        margin-bottom: 10px;
    }
}

.page-sidebar .page-sidebar-menu {
    margin-bottom: 1px;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu,
.page-sidebar .page-sidebar-menu {
}

@media (min-width: 991px) {
    .page-sidebar-menu:not(.page-sidebar-bottom) {
        padding-bottom: 400px;
    }
}

.page-sidebar .page-sidebar-menu > li,
.page-sidebar-closed.page-sidebar-fixed
    .page-sidebar:hover
    .page-sidebar-menu
    > li {
    display: block;
    margin: 0;
    padding: 0;
    border: 0px;
}

.page-sidebar .page-sidebar-menu > li > a,
.page-sidebar-closed.page-sidebar-fixed
    .page-sidebar:hover
    .page-sidebar-menu
    > li
    > a {
    min-height: 78px;
    display: block;
    position: relative;
    margin: 0;
    border: 0px;
    padding: 17px 15px 15px 15px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
}

.page-sidebar-closed.page-sidebar-fixed
    .page-sidebar:hover
    .page-sidebar-menu
    > li
    > a,
.page-sidebar .page-sidebar-menu > li > a {
    border-top: 1px solid #2b3b55;
    color: #c3cee0;
}

.page-sidebar .page-sidebar-menu > li > a {
    border: none;
}

.page-sidebar .page-sidebar-menu > li.start > a,
.page-sidebar-closed.page-sidebar-fixed
    .page-sidebar:hover
    .page-sidebar-menu
    > li.start
    > a {
    border-top-color: transparent !important;
}

li [class^="icon-"],
li [class*=" icon-"] {
    top: 1px;
    position: relative;
}

.page-sidebar .page-sidebar-menu > li > a > i,
.page-sidebar-closed.page-sidebar-fixed
    .page-sidebar:hover
    .page-sidebar-menu
    > li
    > a
    > i {
    font-size: 24px;
    text-shadow: none;
    font-weight: 300;
    text-align: center;
}

.page-sidebar-closed.page-sidebar-fixed
    .page-sidebar:hover
    .page-sidebar-menu
    > li
    > a
    > i,
.page-sidebar .page-sidebar-menu > li > a > i {
    color: #43516c;
}

.page-sidebar .page-sidebar-menu > li > a > [class^="icon-"],
.page-sidebar-closed.page-sidebar-fixed
    .page-sidebar:hover
    .page-sidebar-menu
    > li
    > a
    > [class^="icon-"] {
    top: 2px;
    margin-left: 1px;
    margin-right: 4px;
}

.page-sidebar-closed.page-sidebar-fixed
    .page-sidebar:hover
    .page-sidebar-menu
    > li
    > a
    > i[class^="icon-"],
.page-sidebar-closed.page-sidebar-fixed
    .page-sidebar:hover
    .page-sidebar-menu
    > li
    > a
    > i[class*="icon-"],
.page-sidebar .page-sidebar-menu > li > a > i[class^="icon-"],
.page-sidebar .page-sidebar-menu > li > a > i[class*="icon-"] {
    color: #4d5d7c;
}

.page-sidebar .page-sidebar-menu > li > a > .title,
.page-sidebar-closed.page-sidebar-fixed
    .page-sidebar:hover
    .page-sidebar-menu
    > li
    > a
    > .title {
    display: block;
    text-align: center;
    margin-top: 5px;
}

.page-sidebar .page-sidebar-menu > li > a > .title,
.page-sidebar-closed.page-sidebar-fixed
    .page-sidebar:hover
    .page-sidebar-menu
    > li
    > a
    > .title {
    display: block;
    text-align: center;
    margin-top: 5px;
}
