.sub-menu {
    list-style: none;
    display: none;
    padding: 0;
    margin: 2px 0px 2px 0px;
}
.has-sub-menu .dropdown-menu {
    bottom: 100%;
    top: unset;
    width: 100%;
    background-color: #1c2637;
}
.has-sub-menu .dropdown-menu li {
    padding: 2px 2px;
    cursor: pointer;
}

.sub-menu .nav-item > .nav-link {
    margin-bottom: -0.2rem !important;
}

.has-sub-menu .dropdown-menu li:hover {
    background-color: #242e3f;
}
.lang-sub-menu {
    display: none;
}
.lang-nav:hover .lang-sub-menu {
    display: block;
}

.arrow-div {
    display: block;
    float: right;
    position: absolute;
    right: 100%;
    top: 40px;
    background: none;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-right: 10px solid #1c2637;
}
.has-sub-menu {
    position: relative;
}
.sidebar {
    overflow: visible;
}
.main-sidebar {
    overflow: visible;
}
.has-sub-menu .sub-menu {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    z-index: 2000;
    padding: 2px 21px;
    display: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.has-sub-menu:hover > .sub-menu {
    background: #1c2637 !important;
    display: inline-block !important;
}
@media (min-width: 992px) {
}

@media (min-width: 992px) {
}

@media (min-width: 992px) {
    .has-sub-menu:hover > .sub-menu {
    }
}

@media (min-width: 992px) {
    .has-sub-menu:hover > .sub-menu {
        margin-left: 5px;
        margin-top: -18px;
    }
}

@media (min-width: 992px) {
    .has-sub-menu:hover > .sub-menu {
        box-shadow: 5px 5px rgba(48, 48, 48, 0.2);
    }
}

.modal .modal-header {
    border-bottom: 1px solid #efefef;
}

.modal .modal-header .close {
    margin-top: 0px !important;
}

.close {
    display: inline-block;
    margin-top: 0px;
    margin-right: 0px;
    width: 9px;
    height: 9px;
    background-repeat: no-repeat !important;
    text-indent: -10000px;
    outline: none;
    background-image: url(../../images/brand/remove-icon-small.png) !important;
}

.close {
    background-image: url(../../images/brand/remove-icon-small.png) !important;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.modal {
    z-index: 10050;
    outline: none;
    overflow-y: auto !important;
}

h4 {
    font-size: 18px;
}

.sidebar-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* height: 2000px;
    overflow-y:scroll; */
}
.md-inline-table {
    display: inline-table;
}
@media (max-width: 992px) {
    .md-inline-table {
        display: inline-table;
    }
}
.cursor-pointer:hover {
    cursor: pointer;
}

.bottom-sidebar {
    width: 100%;
    padding: 10px 10px;
    background-color: #0d182e;
    color: rgb(241, 238, 238);
    font-size: 14px;
}

.flag-svg {
    width: 25px;
    height: 22px;
    margin-right: 5px;
    border-radius: 50%;
    background-size: cover !important;
    float: left;
    border: 1px solid #363a44;
}
