.tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
}

/* .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
} */

.tabbable-line > .nav-tabs > li {
    margin: 0;
    border-bottom: 4px solid transparent;
}

.tabbable-line > .nav-tabs > li.active {
    background: none;
    border-bottom: 4px solid #36c6d3;
    position: relative;
}

.tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #e60000;
}

/* .nav > li > a:focus,
.nav > li > a:hover {
    text-decoration: none;
    background-color: #eee;
} */

.tabbable-line > .nav-tabs > li > a {
    background: none !important;
    border: 0;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    color: #737373;
}

.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333;
}

.tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
}

.tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
}

.tabbable-line > .nav-tabs > li.open,
.tabbable-line > .nav-tabs > li:hover {
    background: none;
    border-bottom: 4px solid #9fe4ea;
}

.tabbable-line > .nav-tabs > li.open,
.tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #ff6767;
}

.tabbable-line > .nav-tabs > li.open > a > i,
.tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
}

.tabbable-line > .tab-content {
    margin-top: 0;
    border: 0;
    border-top: 1px solid #eef1f5;
    padding: 30px 0;
}

.page-container-bg-solid .tabbable-line > .tab-content {
    border-top: 1px solid #dae2ea;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.light-border-bottom {
    border-bottom: 1px solid #ddd !important;
}
.width-100-percent {
    width: 100% !important;
}

.pull-right {
    float: right !important;
}

.form-control {
    outline: none !important;
    box-shadow: none !important;
}
.inline-block {
    display: inline-block;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.border-bottom-none {
    border-bottom: none !important;
}
.margin-bottom-0 {
    margin-bottom: 0 !important;
}
.margin-top-5 {
    margin-top: 5px !important;
}
/* .nav-tabs,
.nav-pills {
    margin-bottom: 10px;
} */
.pull-left {
    float: left;
}
.pull-left {
    float: left !important;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

/* .nav > li {
    position: relative;
    display: block;
} */

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs > li > a {
    font-size: 14px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav-content > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.tab-resize a {
    padding: 10px 8px !important;
}

@media (min-width: 1170px) {
    .tab-resize a {
        padding: 10px 15px !important;
    }
}

.tab-resize .show-large {
    display: none !important;
}

@media (min-width: 1170px) {
    .tab-resize .show-large {
        display: block !important;
    }
}

.tab-resize .show-small {
    display: block !important;
}

@media (min-width: 1170px) {
    .tab-resize .show-small {
        display: none !important;
    }
}

.margin-right-5 {
    margin-right: 5px !important;
}

.margin-right-5 {
    margin-right: 5px;
}
.height-15 {
    height: 15px !important;
}

.shift-up-2 {
    position: relative;
    top: -2px !important;
}

img {
    vertical-align: middle;
}
img {
    border: 0;
}

.height-20 {
    height: 20px !important;
}

.font-xl {
    font-size: 18px !important;
}

.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
}

.nav > li > a:focus,
.nav > li > a:hover {
    text-decoration: none;
    background-color: #eee;
}

h2 {
    font-size: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

p {
    margin: 20px 0;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}
.margin-top-30 {
    margin-top: 30px !important;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.insta_center{
    width:1110px;
}
@media(max-width:720px){
    .insta_center{
        width:500px;
    }   
}
@media(max-width:400px){
    .insta_center{
        width:300px;
    }   
}