.activeSlope {
    width: 140px;
    height: 140px;
    background: #000;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 45% 0;
    transform-origin: 45% 0;
    right: -30px;
    top: -50px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

.channel .type {
    border: 1px solid #000;
    padding: 70px 12px;
    overflow: hidden !important;
    position: relative;
    z-index: 10;
}

.page-title small {
    color: #666;
}

.page-title small {
    font-size: 13px;
    letter-spacing: 0px;
    font-weight: 300;
    color: #888;
}

.page-title {
    color: #666;
}

.page-title {
    padding: 0px;
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 26px;
    display: block;
    color: #666;
    margin: 0px 0px 20px 0px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}
