*,
html,
body {
    font: 14px "Open Sans", sans-serif;
    line-height: 1.4;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

body {
    color: #333333;
    font-family: "Open Sans", sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    direction: "ltr";
    font-size: 14px;
}

.page-content-wrapper {
    margin: 1rem;
    /* background-color: #ffffff; */
}

.portlet.light {
    padding: 12px 20px 15px 20px;
    background-color: #fff;
}

.portlet {
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.nav-tabs {
    border-bottom: none !important;
}

.tabbable-custom > nav > .nav-tabs > a.active {
    border-top: none;
    border-radius: 0;
}

.tabbable-custom > nav > .nav-tabs > a {
    border: none;
    color: #337ab7 !important;
    margin-right: 1rem;
    line-height: 1.42857143;
    padding: 1rem 1rem 0.5rem 1rem;
    border-radius: 0;
}

nav > .nav-tabs > a.active {
    color: #555 !important;
    cursor: default;
    background-color: #fff !important;
    border: 1px solid #ddd;
    border-top: 3px solid #ed6b75 !important;
    border-bottom-color: transparent;
}

.tabbable-custom > nav > .nav-tabs > a:hover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border-top: none;
    background: #fff;
    border-color: #d4d4d4 #d4d4d4 transparent;
}

.tabbable-custom > .tab-content {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.channel {
    cursor: pointer;
    position: relative;
    overflow: hidden !important;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.channel .type {
    border: 1px solid #e60000;
    padding: 70px 12px;
    overflow: hidden !important;
    position: relative;
    z-index: 10;
}

.channel .type .headline {
    font-size: 1.2em;
    margin-bottom: 14px;
}

.channel .type .description {
    font-size: 0.9em !important;
    min-height: 70px;
}

.channel .info i {
    margin-top: 14px;
    font-size: 1.2em !important;
    color: #000;
    margin-right: 6px;
    z-index: 1000;
}

.channel .type i.fa {
    color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 5.5em;
    line-height: inherit !important;
}

.channel .type:hover .activeSlope {
    opacity: 1;
}

.headline {
    margin-top: 3rem;
}

.activeSlope .fa-check {
    -webkit-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
    -webkit-transform-origin: 45% 0 !important;
    transform-origin: 45% 0 !important;
    font-size: 2.4em !important;
    position: absolute;
    top: 54px;
    left: 26px;
    color: #fff;
    /* font-weight: 200; */
}

.font-red-sunglo {
    color: #e26a6a !important;
}

.uppercase {
    text-transform: uppercase !important;
}

.activeSlope {
    width: 140px;
    height: 140px;
    background: #e60000;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 45% 0;
    transform-origin: 45% 0;
    right: -30px;
    top: -50px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

.mt-20 {
    margin-top: 20px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}
