.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 992px) {
    .page-content-wrapper {
        float: left;
        width: 100%;
    }
}

.page-content {
    margin-top: 0px;
    padding: 0px;
    background-color: #fff;
}

@media (min-width: 992px) {
    .page-content-wrapper .page-content {
        margin-left: 195px;
        margin-top: 0px;
        min-height: 600px;
        padding: 25px 20px 10px 20px;
    }
}

.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}

.form-group {
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }
}

.control-label {
    margin-top: 1px;
    font-weight: normal;
}

.font-xs {
    font-size: 11px;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.font-dark {
    color: #2f353b !important;
}

h3 {
    font-size: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

p {
    margin: 20px 0 !important;
}
