.inbox {
    margin-bottom: 20px;
}

.inbox .inbox-sidebar {
    padding: 20px;
    border: 1px solid #e7ecf1;
    border-radius: 4px;
}

.inbox .inbox-sidebar {
    background: #ffffff;
    border: 0;
}

.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.width-100-percent {
    width: 100% !important;
}

.inbox .inbox-nav {
    margin: 30px 0;
    padding: 0;
    list-style: none;
}

.inbox .inbox-nav > li {
    padding: 0;
    margin: 0;
}

.inbox .inbox-nav > li > a {
    text-decoration: none !important;
    display: block;
    padding: 8px 16px;
    border-left: 4px solid transparent;
}

.inbox .inbox-nav > li.active > a {
    border-left: 4px solid #ed6b75;
}

p {
    margin: 20px 0;
}

.font-yellow-lemon {
    color: #f7ca18 !important;
}

.inbox .inbox-body {
    background: #ffffff;
    border: 0;
}

.inbox .inbox-body {
    padding: 20px;
    border: 1px solid #e7ecf1;
    border-radius: 4px;
}

.inbox .inbox-header {
    overflow: hidden;
}

.inbox .inbox-content {
    min-height: 400px;
}

.inbox .inbox-header h1 {
    margin: 0;
    color: #666;
    margin-bottom: 20px;
}
