<template>
  <div class="dropdown pull-right">
    <a
      aria-expanded="true"
      data-toggle="dropdown"
      class="btn tooltips btn-circle btn-outline btn-icon-only grey dropdown-toggle"
    >
      <i class="fa fa-bars" aria-hidden="true"></i>
    </a>
    <ul class="dropdown-menu toggle-add-list-dropdown pull-right">
      <li class="dropdown-submenu">
        <a href="#">Add to list</a>
        <i class="fa fa-arrow-right dropdown-submenu-right-arrow" aria-hidden="true"></i>

        <ul class="dropdown-menu">
          <li v-for="list in lists" :key="list.id" @click="addInfluencerToList(list.id, id)">
            <a class="btnAddInfluencerToList">{{ list.name }}</a>
          </li>
          <li class="divider"></li>
        </ul>
      </li>
    </ul>
  </div>
</template>

<script>
// $("body").on("click", function() {
//   document.querySelector(".toggle-add-list-dropdown").style.display = "none";
// });
export default {
  props: ["id"],
  data() {
    return {
      lists: []
    };
  },
  mounted() {
    console.log("Component mounted.");
  },

  created() {
    this.getAllLists();
  },
  methods: {
    getAllLists() {
      axios
        .get("/brand/influencer/list/getAllLists")
        .then(({ data }) => {
          console.log(data);
          this.lists = data.lists;
        })
        .catch(({ response }) => console.log(response.data.message));
    },
    // showDropdown() {
    //   $(".toggle-add-list-dropdown").style.display = "block";
    // },
    addInfluencerToList(listId, influencerId) {
      axios
        .post("/brand/influencer/list/addInfluencerToList", {
          listId,
          influencerId
        })
        .then(({ data }) => {
          console.log(data);
          this.$swal({
            toast: true,
            icon: "success",
            title: "Influencer is Successfully added to the list",
            position: "top",
            showConfirmButton: false,
            showCloseButton: true
          });
        })
        .catch(({ response }) => console.log(response.data.message));
    }
  }
};
</script>


<style scoped>
.pull-right {
  float: right !important;
}

.btn.btn-outline.grey {
  border-color: #e5e5e5;
  color: #e5e5e5;
  background: none;
}

.btn:not(.btn-sm):not(.btn-lg) {
  line-height: 1.44;
}
.btn-icon-only {
  height: 34px;
  width: 34px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
.btn-circle {
  border-radius: 25px !important;
  overflow: hidden;
}
.btn {
  outline: none !important;
  box-shadow: none !important;
}

.btn-icon-only > i {
  text-align: center;
  margin-top: 2px;
}

.dropdown > .dropdown-menu {
  margin-top: 10px;
}

.toggle-add-list-dropdown {
  display: none;
}

.dropdown-menu {
  left: 0 /*rtl:auto*/;
  min-width: 175px;
  position: absolute;
  z-index: 1000;
  /* display: block; */
  float: left;
  list-style: none;
  text-shadow: none;
  padding: 0px;
  background-color: #ffffff;
  margin: 10px 0px 0px 0px;
  border: 1px solid #eee;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-menu > li > a {
  padding: 8px 16px;
  color: #6f6f6f;
  text-decoration: none;
  display: block;
  clear: both;
  font-weight: 300;
  line-height: 18px;
  white-space: nowrap;
  cursor: pointer;
}

.dropdown-menu > li:first-child:hover > a {
  border-radius: 4px 4px 0px 0px;
  cursor: pointer;
}

.dropdown-menu > li:last-child:hover > a {
  border-radius: 0px 0px 4px 4px;
  cursor: pointer;
}

.dropdown-menu > li:hover > a,
.dropdown-menu > li.active > a,
.dropdown-menu > li.active:hover > a {
  text-decoration: none;
  background-image: none;
  background-color: #f6f6f6;
  color: #555;
  filter: none;
  cursor: pointer;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu-right-arrow {
  position: absolute;
  font-size: 14px;
  right: 7px;
  top: 11px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > .dropdown-menu {
  top: 5px;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
</style>
