<template>
  <div class="page-content" style="min-height: 889px;">
    <h1 class="page-title">Influencer Lists</h1>
    <div class="portlet light">
      <div class="portlet-title">
        <div class="caption">
          <span class="caption-subject font-green-haze bold uppercase">Lists</span>
        </div>
        <div class="actions">
          <div class="btn-group">
            <a
              class="btn green-haze btn-sm bold uppercase createList"
              href="/brand/influencer/list"
            >Back to Lists</a>
          </div>
        </div>
      </div>
      <div class="portlet-body">
        <div
          class="alert alert-primary"
          role="alert"
          v-if="noBrands"
        >There is nothing to display because you don't have any influencer list</div>
        <div class="table-scrollable" v-if="!noBrands">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Influencer</th>
                <th>Creation Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr class="active">
                <td>
                  <a href="/brand/influencer/list/show-all">All My Influencers</a>
                </td>
                <td>0</td>
                <td></td>
                <td>
                  <div style="margin: 5px 0;">&nbsp;</div>
                </td>
              </tr>
              <tr v-for="list in lists" :key="list.id">
                <td>
                  <a href="/influencer/list/904b2a9ce8e4828e0514843b2799c1cc">{{ list.name }}</a>
                </td>
                <td>0</td>
                <td>{{list.created_at}}</td>
                <td>
                  <a href="#" @click="deleteList(list.id)" class="btn btn-sm btn-outline-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    Delete
                  </a>
                  <a
                    href="#"
                    class="btn btn-sm btn-outline-primary renameList"
                    data-intern-id="904"
                    data-list-name="Testing List"
                    @click="renameList(list.name, list.id)"
                  >
                    <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                    Rename
                  </a>
                  <!-- <a href="#" class="btn btn-sm btn-outline-primary inviteList" data-intern-id="904b">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Invite to campaign
                  </a>-->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      noBrands: true,
      listName: "",
      lists: []
    };
  },

  created() {
    this.getAllLists();
  },
  methods: {
    getAllLists() {
      axios.get("/brand/influencer/list/getAllLists").then(({ data }) => {
        console.log(data);
        this.lists = data.lists;
        this.lists.length >= 1
          ? (this.noBrands = false)
          : (this.noBrands = true);
      });
    },

    addNewList() {
      (async () => {
        const inputValue = "";

        const { value: listName } = await this.$swal({
          title: "Create list",
          html:
            '<p style="display: block;">Please enter the name of the list:</p>',
          input: "text",
          inputValue: inputValue,
          showCancelButton: true,
          // inputPlaceholder: 'Enter Placeholder',
          inputValidator: value => {
            if (!value) {
              return "You need to write something!";
            }
          }
        });

        if (listName) {
          axios
            .post("/brand/influencer/list/createList", { listName })
            .then(({ data }) => {
              console.log(data);
              this.$swal({
                toast: true,
                icon: "success",
                title: "List Created Successfully",
                position: "top",
                showConfirmButton: false,
                showCloseButton: true
              });

              this.getAllLists();
            })
            .catch(({ response }) => {
              console.log(response.data.message);
              this.$swal({
                toast: true,
                icon: "error",
                title: response.data.message,
                position: "top",
                showConfirmButton: false,
                showCloseButton: true
              });
            });
        }
      })();
    },

    renameList(renameListName, id) {
      (async () => {
        const inputValue = renameListName;

        const { value: listName } = await this.$swal.fire({
          title: "Rename list",
          html:
            '<p style="display: block;">Please enter the new name here:</p>',
          input: "text",
          inputValue: inputValue,
          showCancelButton: true,
          // inputPlaceholder: 'Enter Placeholder',
          inputValidator: value => {
            if (!value) {
              return "You need to write something!";
            }
          }
        });

        if (listName) {
          axios
            .post("/brand/influencer/list/updateList", { listName, id })
            .then(({ data }) => {
              console.log(data);
              this.$swal({
                toast: true,
                icon: "success",
                title: "List Renamed Successfully",
                position: "top",
                showConfirmButton: false,
                showCloseButton: true
              });

              this.getAllLists();
            })
            .catch(({ response }) => {
              console.log(response.data.message);
              this.$swal({
                toast: true,
                icon: "error",
                title: response.data.message,
                position: "top",
                showConfirmButton: false,
                showCloseButton: true
              });
            });
        }
      })();
    },

    deleteList(id) {
      let r = confirm("Are you sure you want to Delete List");
      if (r == false) {
        return;
      }

      axios
        .delete(`/brand/influencer/list/deleteList/${id}`)
        .then(({ data }) => {
          this.$swal({
            toast: true,
            icon: "success",
            title: "List Deleted Successfully",
            position: "top",
            showConfirmButton: false,
            showCloseButton: true
          });

          this.getAllLists();
        })
        .catch(({ response }) => {
          console.log(response.data.message);
          this.$swal({
            toast: true,
            icon: "error",
            title: response.data.message,
            position: "top",
            showConfirmButton: false,
            showCloseButton: true
          });
        });
    }
  }
};
</script>

<style scoped>
.well {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1.42857143;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  transition: opacity 0.2s ease-in-out;
  min-height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 0;
  padding: 20px;
  box-shadow: none !important;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn {
  outline: none !important;
  box-shadow: none !important;
}

.btn:not(.btn-sm):not(.btn-lg) {
  line-height: 1.44;
}

.btn.blue:not(.btn-outline) {
  color: #ffffff;
  background-color: #3598dc;
  border-color: #3598dc;
}

.table td {
  vertical-align: baseline !important;
}
</style>
