#leftMenu .entry {
    padding: 10px;
}
.bg-font-red {
    color: #ffffff !important;
}
.bg-red {
    background: #e7505a !important;
}

a:focus,
a:hover {
    color: #23527c;
    text-decoration: underline;
}

a:focus,
a:hover,
a:active {
    outline: 0;
}

a:hover {
    color: #23527c;
}
a:hover {
    cursor: pointer;
}

.btn.blue:not(.btn-outline) {
    color: #ffffff;
    background-color: #3598dc;
    border-color: #3598dc;
}

.btn.blue:not(.btn-outline):hover {
    color: #ffffff;
    background-color: #217ebd;
    border-color: #1f78b5;
}
