.nav-tabs,
.nav-pills {
    margin-bottom: 10px;
}

.nav-justified {
    width: 100%;
}

.modal-inner .nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;
}

.modal-inner .nav-tabs > li {
    display: table-cell !important;
    width: 1% !important;
    padding: 0;
    margin: 0;
    float: none;
}

.model-inner .nav-tabs > li.active > a,
.model-inner .nav-tabs > li:hover > a {
    border: 0;
    border-bottom: 3px solid #f3565d;
    background: none;
    color: #fff;
    text-decoration: none;
}

.page-quick-sidebar .tab-content {
    margin: 0;
    padding: 0;
}

.model-inner .nav-tabs > li > a {
    position: relative;
    display: block;
    text-align: center;
    border: 0;
    height: auto;
    font-size: 14px;
    padding: 45px 15px 8px;
    text-transform: uppercase;
    background: none;
    margin-right: 0;
    color: #90a1af;
    border: 0;
    border-bottom: 3px solid rgba(243, 86, 93, 0.3);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    outline: none !important;
}

.page-quick-sidebar {
    background: #21282e;
    min-height: 100vh;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .list-items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-quick-sidebar .list-items > li {
    color: #fff;
    margin: 0;
    padding: 15px;
    background: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #273037;
}

.page-quick-sidebar .list-items > li:last-child {
    border-bottom: 0;
}

.input-inline {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.input-medium {
    width: 240px !important;
}
.form-control {
    outline: none !important;
    box-shadow: none !important;
}

.socicon-btn.socicon-sm.socicon-solid {
    border: 0;
    width: 30px;
    height: 30px;
    padding-top: 8px;
}

.socicon-btn.socicon-sm {
    width: 30px;
    height: 30px;
    padding-top: 8px;
    font-size: 16px;
}
.socicon-btn.socicon-btn-circle {
    border-radius: 44px !important;
}
.socicon-btn.socicon-solid {
    border: 0;
    width: 46px;
    height: 46px;
    padding-top: 12px;
}
.socicon-btn {
    position: relative;
    display: inline-block;
    font-family: "socicon";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    width: 44px;
    height: 44px;
    padding-top: 11px;
    font-size: 24px;
    border: 1px solid #e7ecf1;
    color: #3f444a;
    transition: background, color 0.3s;
}
.bg-red {
    background: #e7505a !important;
}
.font-white {
    color: #ffffff !important;
}

.media-body > a:hover {
    text-decoration: none;
}

.btn.red:not(.btn-outline) {
    color: #ffffff;
    background-color: #e7505a;
    border-color: #e7505a;
}
.btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.44;
}

.table .btn {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 5px;
}
.btn {
    outline: none !important;
    box-shadow: none !important;
}
