.chat{
    position:fixed;
    right:10px;
    bottom:20px;
    display:flex;
    flex-direction:column;
    z-index:100000;
    
}
.chat-container{
    width:357px;
    height:460px;
    display:flex;
    flex-direction:column;
    border-radius: 10px;
    background-color:#F4F5F7;
    animation:chat-anim 0.3s linear;
    transition: opacity 1s ease;
}
@media(max-width:400px){
    .chat-container{
        width: 320px;
        height:450px;
    }
}
@keyframes chat-anim{
    0%{
        transform:scale(0);
        opacity:0;
    }
    50%{
        transform:matrix(0.5, 0, 0.3, 0.5, 0, 0);
    }
    100%{
        transform:scale(1);
        opacity: 1;
    }
}
.chat-hider{
    display:none!important;
}
.chat-button{
    position:fixed;
    right:10px;
    z-index:100000;
    bottom:10px;
    border-radius: 34px 10px 34px 34px;
    background-color: #C70000;
    padding:3px;
}
.chat-button:hover{
    cursor:pointer;
}

.chat-button img{
    width:50px;
}

.chat-container .chat-child1{
    color:white;
    padding:10px;
    flex:1 1 30%;
    background-image: url(https://assetscdn-wchat.freshchat.com/static/assets/images/ic_offline_star-a9d170607640c9fcca87626d9f15bd72.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #c70000;
    border-radius: 5px;

}
.chat-container .chat-child2{
    flex:1 1 70%;
    
}
.chat-container .chat-child2 .chat-inner{
    margin:0px 7px;
    border-radius:10px;
    height:320px;
    overflow-y:scroll;
    overflow-x:hidden;
    position: relative;
    top:-13px;
    background-color:white;
}
.chat-container .chat-child2 .chat-inner .chat-form{
    height:132px;
    width:80%;
    margin:5px 0px;
    float:right;
}
.chat-container .chat-child2 .chat-inner .chat-form form{
    height:100%;
}
.chat-container .chat-child2 .chat-inner .chat-form input{
    margin:5px 0px;
    font-size:14px!important;
}
.chat-container .chat-child2 .chat-inner .chat-form textarea{
    height: 80%;
    margin:7px 0px;
    font-size:14px!important;
}
@media(max-width:580px){
    .chat-container .chat-child2 .chat-inner .chat-form{
        width:100%;
    }
    /* .chat-container .chat-child2 .chat-inner .chat-form textarea{
        height: 170px;
    } */
}
/* width */
div.chatscroll::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  div.chatscroll::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 5px;
    width:2px;
  }
  
  /* Handle */
  div.chatscroll::-webkit-scrollbar-thumb{
    background: #DDDDDD;
    border-radius: 3px;
    width:2px;
  }
  
  /* Handle on hover */
  

  .text-section{
    width:250px;
    display:flex;
    flex-direction:column;
    padding:5px;
  }
  .text-section .text-inner{
      width:250px;
      display:flex;
      flex-direction:row;
  }
  .float-right{
    float:right!important;
  }
  .text-section div span{
    font-size:14px;
    color:gray;
  }

  .text-section .text-inner .part1{
    width:60px;
    padding:5px;
  }
  .text-section .text-inner .part1 img{
      border-radius:100%;
  }

  .text-section .text-inner .part2{
    padding:7px;
    background-color:#F1F1F1;
    font-size:13px;
  }
  .text-section .text-inner .part2 p{
      margin-bottom:0.4rem;
  }
  .text-radius1{
    border-radius: 4px 20px 20px;
  }
  .text-radius2{
    border-radius: 20px 4px 20px 20px;
  }
.cross{
    align-items: center;
    background-color: #707c92;
    color:white;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    opacity: .7;
    float: right;
    transition: opacity .2s;
    height: 1.75rem;
    width: 2.5rem;
    position: absolute;
    right: 0px;
    top: -30px;
    animation:cross-anime 0.6s linear;

}
.right_align{
    justify-content: flex-end;
}
@keyframes cross-anime{
    0%{
        transform:translateY(446px);
    }
    60%{
        transform:translateY(0px);
        transform:translateX(-350px);
    }
    100%{
        transform:translateY(0px);
        transform:translateX(0px);
    }
}