
/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/*// Large devices (desktops, 992px and up)*/
@media (max-width: 1199.98px) {

    .video-section .video-content iframe{
        width: 540px !important;
        height: 305px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media  (max-width: 991.98px) {
    .navbar-toggler{
        color: #fff;
    }
    .navbar-nav{
        background-color: #333;
        border-bottom: 2px solid #999;
    }
    .nav-large{
        background-color: #333;
    }
    .navbar-brand{
        border: none;
        margin: 0 auto;
    }
    .nav-item{
        justify-content: flex-start;
        padding: 5px 5%;
        position: relative;

    }
    .nav-item::after{
        content: '';
        width: 90%;
        border-bottom: 1px solid #fff;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 40px;
    }
    .collapse,
    .navbar-nav,
    .nav-item{
        height: unset;
    }
}


/*Small devices (landscape phones, 576px and up)*/
@media  (max-width: 767.98px) {
    .sm-hidden{
        display: none;
    }
    .overlay h2{
        font-size: 32px;
    }
    .overlay h1{
        font-size: 22px;
    }
    .btn-area{
        flex-direction: column;
    }
    .influncer-social .social i, .hero .social i{
        height: 32px;
        width: 32px;
        font-size: 14px;
    }
    .heading-block h2{
        font-size: 24px;
    }
    .lead{
        font-size: 17px;
    }
    .influncer-social .heading-center h2{
        font-size: 18px;
    }
    .video-section .video-content iframe{
        width: 440px !important;
        height: 252px !important;
    }
    .self-service .grids .icon-self{
        left: 0;
        top: -31px;
    }
    .self-service .icon-self{
        padding: 0;
        width: 33px;
        height: 33px;
        font-size: 16px !important;
    }
    .btn-area a{
        padding: 6px 15px !important;
        font-size: 18px !important;
    }
}


/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .heading-center h2{
        font-size: 24px;
    }
    .reach-hero .images-rh{
        min-height: 200px;
    }
    .video-section .video-content iframe{
        width: 310px !important;
        height: 182px !important;
    }
}
