*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 30px 0;
    font-family: 'Raleway', sans-serif;
}
.center {
    text-align: center;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.heading-center{
    padding: 20px;
}
.heading-center h2{
    color: #444;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 30px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    text-align: center;
}
.btn-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.btn-area a{
    padding: 0 26px;
    font-size: 16px;
    /*height: 46px;*/
    line-height: 46px;
    position: relative;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    margin: 5px;
    background-color: #1ABC9C;
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    border-radius: 3px;
    border-bottom: 3px solid rgba(0,0,0,0.25);
    text-decoration: none;
    transition: all 0.3s ease;
    font-family: 'Raleway', sans-serif;
}
.btn-area a:nth-child(1){
    background-color: #C02942;
}
.btn-area a:nth-child(1):hover{
    background-color: #bd3c54 !important;
}

.btn-area a:nth-child(2){
    background-color: #53777A;
}
.btn-area a:nth-child(2):hover{
    background-color: #6d898c !important;
}
.lead{
    font-size: 21px;
    font-family: 'lato', sans-serif;
    font-weight: 300;
}
.btn-red-text{
    font-family:'Raleway', sans-serif;
    color: #e60000;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
}
.btn-red-text:hover{
    color: #e60000;
}

.round-btn{
    background-color: #e60000;
    padding: 8px 25px;
    border-radius: 20px;
    font-family: Raleway, sans-serif;
    font-weight: 300;
    font-size: 17px;
    border: none;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.round-btn:hover{
    background-color: #ad0202;
}
/*==========================*/
/*    hero section*/
/*==========================*/

.hero{
    height: 100vh;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.hero .gradient{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(59, 59, 59, 0.46);
}
.hero video{
    height: 100%;
    object-fit: cover;
    width: 100%;
    z-index: 1;
}
.hero .video{
    height: 100%;
}
.overlay {
    z-index: 1;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    /*height: 100%;*/
    transform: translateY(-50%);
    text-align: center;
}
.overlay h2{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    font-size: 61px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}
.overlay h1{
    color: #ffffff;
}
.influncer-social .social,
.hero .social{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}
.influncer-social .social i,
.hero .social i{
    height: 50px;
    width: 50px;
    border: 1px solid #fff;
    border-radius: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 4px;
}


/*==========================*/
/*    Customers who trust us*/
/*==========================*/
.trust-section{
    margin-top: 40px;
    padding: 30px 0;
}
.trust-section img{
    width: 100%;
}

/*==========================*/
/*    What is reach hero*/
/*==========================*/

.reach-hero{
    padding: 40px 0;
}
.reach-hero .heading-block{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333;
    margin: 50px 0;
}
.reach-hero .heading-block:after{
    content: '';
    display: block;
    margin-top: 30px;
    width: 40px;
    border-top: 2px solid #444;
}

.reach-hero .images-rh{
    position: relative;
    min-height: 300px;
}
.reach-hero .images-rh img{
    max-width: 100%;
}

.reach-hero .images-rh img:nth-child(1){
    position: absolute;
    top: 0;
    /*left: 10%;*/
    z-index: 1;
}
.reach-hero .images-rh img:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
/*==========================*/
/*    press about reach hero*/
/*==========================*/

.press-section{
    margin-top: 40px;
    padding: 30px 0;
    background-color: #f9f9f9;
}
.press-section img{
    width: 100%;
    filter: grayscale(100%);
}
/*==========================*/
/*    More info*/
/*==========================*/
.more-info{
    padding-bottom: 60px;
    margin-bottom: 30px;
}
.more-info p{
    text-align: center;
}




/*==========================*/
/*influncer page*/
/*==========================*/

.influncer-social{
    background-color: #F9F9F9;
    padding: 40px 0;
}
.influncer-social .social i{
    color: #000;
    border-color: #000;
    transition: border-color 0.4s ease-in-out;

}
.influncer-social .social i:hover{
    border-color: #fff;
}
.influncer-social .heading-center h2{
    font-size: 24px;
}
/*==========================*/
/*    influncer blocks*/
/*==========================*/
.influncer-blocks{
    background-color: #F9F9F9;
    padding: 40px 0;
}
 .feature-box h3{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 20px 0;
}
 .feature-box p{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #393939;
    word-spacing: 5px;
    /*letter-spacing: 1px;*/
}
 .feature-box .fbox-icon{
    display: flex;
    justify-content: center;
    align-items: center;

}
 .feature-box .fbox-icon i{
    text-align: center;
    font-size: 37px;
    border-radius: 100%;
    background: #e6e6e6;
    padding: 20px 10px;
    height: 80px;
    width: 80px;
    transition: all 0.3s ease-in-out;
}
.feature-box:hover .fbox-icon i{
    background-color: #333;
    border: 2px solid #fff;
    box-shadow: 0px 0px 0px 2px #333;
    color: #fff !important;
}
/*==========================*/
/*    Screens*/
/*==========================*/
.screens{
    background-color: #F9F9F9;
}
.screens h2{
    font-size: 24px;
    text-align: center;
}
.screens .heading-block{
    padding: 20px 0;
}
.screens .heading-block:after{
    content: '';
    width: 40px;
    border-bottom: 2px solid #444;
    display: block;
    margin: 26px auto;
}
.screens .heading-block h2{
    font-size: 26px;
}
.screens .heading-block p{
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    font-family: Raleway, sans-serif;
    max-width: 600px;
}
.screens img{
    max-width: 100%;
}
.screens .heading-block{
    width: 100%;
    margin: 0 auto;
}

/*==========================*/
/*    count influncer*/
/*==========================*/
.count-influncer{
    background-color: #F9F9F9;
    padding: 30px 0;
    width: 100%;
    white-space: normal;
    margin: 0;
    height: auto;
    line-height: 1.6;
    background-color: #444;
    font-size: 30px;
    font-weight: 300;
    text-transform: none;
    border-radius: 0;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    transition: all 0.3s ease-in-out;
}

.count-influncer h4{
    font-family: 'lato', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}
.count-influncer:hover{
    background-color: #e60000;
}

/*==========================*/
/*    Influncers*/
/*==========================*/
.influncers{
    padding: 40px 0;
    background-color: #F9F9F9;
}
.influncers h2{
    text-align: center;
    margin: 0;
    padding: 20px 0;
}
.influncers .brace{
    text-align: center;
    font-family: 'lato', sans-serif;
    display: block;
    margin-top: 10px;
    margin-top: 0;
    font-weight: 300;
    color: #777;
    font-size: 16px;
}

.influncers img{
    margin: 10px 0;
    object-fit: cover;
}
.influncers .col-sm-3,
.influncers .col-6{
    overflow: hidden;
    display: flex;
    justify-content: center;
}
/*==========================*/
/*    placement*/
/*==========================*/
.placement{
    padding: 50px 0;
}
.placement .lead{
    text-align: center;
}
.placement .btn-area{
    padding: 30px 0;
}
.placement p{
    font-family: lato, sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 16px;
}
.placement p a{
    color: #e60000;
    transition: all 0.3s ease-in-out;
}
.placement p a:hover{
    color: #000;
}

/*======================================================================*/
                            /*    Company page*/
/*======================================================================*/
/*Customer trust*/
.customer-trust{
    padding: 40px 0;
}
.customer-trust .heading-center{
    background: url("../images/icons/dotted.png") repeat center center;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.customer-trust .heading-center h2{
    display: inline-block;
    line-height: 16px;
    background-color: #fff;
    margin: 0 10px;
}

.customer-trust .slider{
    margin: 80px 0;
}
.customer-trust-slide{
    background-color: #333;
    display: inline-block;
    margin: 0;
    max-height: 130px;
    display: flex;
    justify-content: center;
}
.customer-trust-carousel{

    position: relative;
    overflow: hidden;

}
.owl-item{
    display: inline-block;
    margin: 0;
    background: #333;
}
.customer-trust-carousel .owl-item img{
    display: inline-block;
    object-fit: cover;
    object-position: center center;
    max-height: 90px;
}
.owl-nav.disabled{
    display: none;
}

/*video section*/
    .video-section{
        background-color: #F9F9F9;
        /*margin: 60px 0;*/
        padding: 60px 0;
    }
    .video-section .heading-center h2{
        font-size: 30px;
        text-transform: uppercase;
    }
    .video-section .heading-center::after{
        content: '';
        width: 40px;
        border-bottom: 2px solid #000;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .video-di{
        padding: 30px 0;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .video-di .video-content{
        position: relative;
    }
.video-di .video-banner{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
    .video-di .video-banner img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        cursor: pointer;
    }
    .video-di span{
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        font-size: 26px;
        transform: translate(-50%, -50%);
        color: #bd3c54;
        border-radius: 100%;
        border: 2px solid #bd3c54;
        height: 65px;
        width: 65px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-content: center;
        cursor: pointer;
    }
    .video-section .btn-area a{
        height: unset;
        padding: 16px 34px;
        font-size: 24px;
        border-bottom: 4px solid rgba(0,0,0,0.25);
    }


/*==========================*/
/*    Influencer Marketing*/
/*==========================*/
.influencer-marketing{
    padding: 40px 0;
    background-color:#f9f9f9 ;
}
.influencer-marketing .heading-center h2{
    text-transform: uppercase;
    font-size: 30px;
}
.influencer-marketing .heading-center .lead{
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}
.influencer-marketing .heading-center::after{
    content: '';
    border-bottom: 3px solid #000;
    width: 40px;
    position: absolute;
    left: 50%;
    margin-top: 30px;
    transform: translateX(-50%  );
}
.influencer-marketing img{
    max-width: 100%;
}
.influencer-marketing .influncer-blocks .feature-box h3{
    margin: 0;
    padding: 0;
}
.influencer-marketing .influncer-blocks .feature-box .fbox-icon i{
    background-color: #e60000;
    color: #ffffff;
}


/*==========================*/
/*    Footer*/
/*==========================*/

.self-service{
    padding: 30px 0;

}

.self-service img{
    width: 100%;
}

.self-service .heading{
    padding-bottom: 30px ;
}
.self-service .heading h2 a{
    font-size: 30px;
    color: #e60000;
    text-transform: uppercase;
}
.self-service .heading span{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 17px;
    padding: 15px 0;
}
.self-service .text{
    padding: 20px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 17px;
}

.self-service .grids  h3{
    font-size: 20px;
}
.self-service .grids span{
    color: #1ABC9C;
    font-size: 24px;
    position: absolute;
    left: -20px;
}
.self-service .grids p{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 17px;
    padding: 15px 0;
}
.modal .feature-box .fbox-icon i{
    background: #e60000;
    color: #fff;
}
.modal .feature-box h3{
    margin: 0;

}
.self-service-modal .nav-tabs{
    border: none;
}
.self-service-modal .nav-item .nav-link{
    color: #e60000;
}
.self-service-modal .tab-pane h2{
        font-size: 20px;
    color: #e60000;
    line-height: 24px;
    padding: 10px 0;
    text-align: center;
}
.self-service-modal .tab-pane  ul{
    list-style-type: none;
}
.self-service-modal .tab-pane ul li{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
.self-service-modal .tab-pane ul li::before{
    content: "•";
    width: 12px;
    margin-right: 10px;
    display: inline-block;
    color: #e60000;
}
.self-service-modal .nav-item .nav-link.active{
    border-top: 2px solid #e72c39;
    background: linear-gradient(to bottom, rgba(231,44,57,0.2) 0%, rgba(231,44,57,0) 100%);
    color: #e60000;
}
.self-service-modal .btn-area a{
    height: unset;
    padding: 16px 34px;
    font-size: 24px;
    border-bottom: 4px solid rgba(0,0,0,0.25);
}

.self-service .icon-self{
    padding: 10px;
    height: 60px;
    width: 60px;
    color: #fff !important;
    font-size: 24px;
    background-color: #e60000;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.self-service .grids .icon-self{
    left: -48px;
}
.self-service .col-4:hover .icon-self{
    background-color: #333;
    border: 2px solid #fff;
    box-shadow: 0px 0px 0px 2px #333
}
.relation-management .grids{
    margin-left: 30px;
}
/*==========================*/
/*    Successful Blocks*/
/*==========================*/

.successful-blocks h2{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}
.successful-blocks .successful-icons{
    background-color: #eeeeee;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    color: #fff;
}
.successful-blocks hr{
    width: 100%;
}
.successful-blocks .col-md-4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.successful-blocks .col-md-4:hover .successful-icons{
    background-color: #39c23b;
}
.successful-blocks h3{
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    text-align: center;
    margin: 0;
}
.successful-blocks h3 span{
    color: #e60000;
}
.successful-blocks p{
    font-family: Raleway, sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 16px;
}





/*==========================*/
/*    Footer*/
/*==========================*/
.youtube-videos{
    padding: 40px 0;
    background-color: #f5f5f5;
}
.youtube-videos .lead{
    text-align: center;
}
.video-custom-info{
    padding: 10px 15px;
    background-color: #fff;
}
.video-custom-info h4{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
}
.video-custom-info-username{
    text-align: center;
    font-size: 16px;
    text-transform: capitalize;
}
.youtube-counts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
.youtube-counts span{
    font-family: lato, sans-serif;
    font-weight: 200;
}
.youtube-videos .video-di{
    padding: 0;
}
.youtube-videos .video-content{
    width: 100%;
    object-fit: cover;
}







/*==========================*/
/*    Footer*/
/*==========================*/
.influencer-marketing {
    padding: 40px 0;
}
.influencer-marketing .btn-area a{
    background-color: #39c23b;
    border-color: rgb(30, 106, 32);
}
.influencer-marketing .btn-area a:hover{
    background-color: rgb(30, 106, 32) !important;
    border-color: #39c23b;
}



/*==========================*/
/*    Footer*/
/*==========================*/
#footer{
    background-color: #333;
    color: #CCC;
    border-top-color: rgba(0,0,0,0.2);
    color: rgba(255,255,255,0.25);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    padding: 40px 0;
    font-size: 14px;
    line-height: 1.8;
}
#footer a{
    color: rgba(255,255,255,0.25);
    border-bottom-color: rgba(255,255,255,0.25);
    text-decoration: none;
    display: inline-block;
    margin: 0 3px;
    border-bottom: 1px dotted #444;
}
#footer .copyright-links a:hover{
    color: rgba(255,255,255,0.35);

    border-bottom: 1px solid #666;
}
#footer .footer-social{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}
#footer .footer-social a{
    border-bottom: none;
    /*padding: 6px;*/
    height: 30px;
    width: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    overflow: hidden;
}
#footer .footer-social a span{
    height: 30px !important;
    width: 30px;
    text-align: center;
    margin: 1px 0;
    transition: margin-top 0.8s ease;
    border-radius: 5px;
}
#footer .footer-social a:nth-child(1):hover span{
    background-color: #3b5998;
    margin-top: -32px;
}
#footer .footer-social a:nth-child(2):hover span{
    background-color: #bd3c54;
    margin-top: -32px;
}
#footer .footer-social a:nth-child(3):hover span{
    background-color: #00acee   ;
    margin-top: -32px;
}
#footer .footer-social a:nth-child(4):hover span{
    background-color: #FFFC00;
    margin-top: -32px;
}
#footer .contact-line{
    text-align: right;
}



/*================================================================*/
                    /*  FIND INFLUENCER PAGE*/
/*================================================================*/
.find{
    background: url("../../FrontEndImages/find_influencer/bg.jpg") no-repeat center center;
    /*min-height: 100vh;*/
    background-size: cover;
    width:100%;
    height:100%;
}
.view-1{

}
.view-1 .m-checkbox{
    position: relative;
}
.view-1 .m-checkbox>span{
    left: -5px;
}
.view-1 .m-checkbox>span, .m-radio>span{
    border: 1px solid #e60000;
}
.view-1 .card-header{
    background-color: #fff;
    padding: 0;
}
.view-1 .card-header i{
    color: #e60000;
    font-size: 20px;
    margin: 0 10px 0 0;
}
.view-1 h4{
    font-size: 16px;
    display: inline-block;
    margin: 0;
    padding-bottom: 10px;
}
.view-1 .card{
    padding: 20px;
}
.view-1 label{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: normal;
}

.m-checkbox{
    display: block;
}
.lang span{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    align-items: center;
    margin: auto 5px;
    background-color: #e60000;
}
.lang{
    padding: 30px 0;
}
.lang a{
    color: #333;
}
.lang a:hover{
    color: #333;
    text-decoration: #333;
}

.range-view .custom-range::-webkit-slider-thumb {
    background: #e60000;
    height: 30px;
    width: 10px;
    margin-top: -10px;
    position: relative;
}
.range-view .custom-range::before::-webkit-slider-thumb {
    content: '';
    height: 15px;
    width: 30px;
    background-color: #000;
    position: absolute;
}
.range-view .custom-range::-moz-range-thumb {
    background: #e60000;
    height: 30px;
    width: 10px;
    margin-top: -10px;
    position: relative;
}
.range-view .custom-range::before::-moz-range-thumb {
    background: #e60000;
    height: 30px;
    width: 10px;
    margin-top: -10px;
    position: relative;
}

.range-view .custom-range::-ms-thumb {
    background: #e60000;
    height: 30px;
    width: 10px;
    margin-top: -10px;
    position: relative;
}
.range-view .custom-range::before::-ms-thumb {
    background: #e60000;
    height: 30px;
    width: 10px;
    margin-top: -10px;
    position: relative;
}
.range-val{
    background-color: #e60000;
    color: #fff;
    padding: 1px 6px;
    border-radius: 16px;
    font-family: Raleway, sans-serif;
    font-weight: 300;
    font-size: 12px;
    position: absolute;
    top: 0;
    left:0;
    /*transform: translateX(-50%);*/
}
.range-form{
    padding: 25px 0;
    position: relative;
}
.influncers-view .col-sm-2{
    padding: 0 5px ;
}
.influncers-view .card-body img{
    width: 100%;
}
.influencer-info{
    padding: 10px;
    background-color: #fff;
}
.influencer-info h4{
    font-size: 14px;
    font-family: lato, sans-serif;
    font-weight: 300;
    text-align: center;
    display: block !important;
}


/*=================================================================*/
/*Register influencer page*/
/*=================================================================*/

.logo-pages{
    max-width: 200px;
}
.register-text h4,
.register-text h5{
    font-size: 13px;
    color: #aba5b6 ;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin: 0;
}
.register-text h4 strong,
.register-text h5 strong{
    /*font-weight: 500;*/
}
.register-text h4{
    font-size: 18px;
}
.width-4{
    max-width: 430px;
    margin: 0 auto;
}
.m-login__form .m-form__group .form-control{
    border-radius: 40px;
    border: none;
    padding: 28px;
    margin-top: 20px;
    color: #91899f;
    font-size: 16px;
    background: #f7f6f9;
}
.m-login__form .m-form__group .form-control:focus{
    outline: none;
}
.m-login__form .form-control::placeholder{
    color: #91899f;
    font-family: 'Poppins', sans-serif;
}

.m-login__form label{
    font-size: 13px;
    color: #aba5b6 ;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin: 0;
}
.m-login__form   a{
    color: #aba5b6;
    padding-bottom: 2px;

}
.m-login__form   a:hover{
    border-bottom: 1px solid #aba5b6;
}
.m-checkbox>span, .m-radio>span{
    border-radius: 3px;
    background: 0 0;
    position: absolute;
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px;
}
.m-checkbox.m-checkbox--focus>span{
    border: 1px solid #bdc3d4;
}
.m-checkbox.m-checkbox--focus>input:checked~span{
    border: 1px solid #e60000;
}

.m-checkbox>input:checked~span:after, .m-radio>input:checked~span:after{
    display: block;
}
.m-checkbox input{
    visibility: hidden;
}
.m-checkbox>input:checked~span:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2px;
    margin-top: -6px;
    width: 5px;
    height: 10px;
    /*background: #e60000;*/
    border-color: #e60000;
    border-width: 0 3px 3px 0 !important;
    border-style: solid;
    transform: rotate(45deg);

}

.m-login__form-action button{
    border: 1px solid #e60000;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 15px 40px;
    border-radius: 40px;
    margin: 0 auto;
}
.m-login__form-action .m_login_cancel{
    background-color: #fff;
    color: #e60000;
}
.m-login__form-action .m-btn--air{
    color: #fff;
    background-color: #e60000;
}
.m-login__form small{
    color: #91899f;
}
.m-login__form{
    width: 100%;
}
/*=============================================================*/
                /*Header */
/*=============================================================*/
.navbar{
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 111;
    padding: 0;
    background-color: #333;
    transition: all 0.3s ease-in-out;
}
.navbar .navbar-brand img{
    height: 40px ;
    transition: all 0.3s ease-in-out;
}
.nav-large{
    height: 80px;
    background: none;

}
.navbar .logo-white{
    display: block
}
.navbar.nav-large .logo-white{
   display: none;
}
.navbar .logo-black{
    display: none
}
.navbar.nav-large .logo-black{
    display: block;
}

.nav-large .navbar-brand img{
    height: 32px;
}
.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

 .nav-link{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
}
 .nav-link:hover,
 .nav-link:active,
 .nav-link:focus,
 .nav-link:visited{
     color: #fff !important;
 }
.navbar-brand{
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid  #fff;
}
.navbar{
    border-bottom: 1px solid #fff;
}
.navbar-nav{
    border-right: 1px solid #fff;
    /*display: flex;*/
    /*align-items: center;*/
}
.collapse,
.navbar-nav,
.nav-item{
    height: 100%;
}
.navbar-nav .dropdown-menu{
    position: absolute;
    margin: 0;
    border-radius: 0;
    border-top: 2px solid #e60000;
    background: #333;
}
.navbar-nav .dropdown-menu a,
.navbar-nav .dropdown-menu a:hover,
.navbar-nav .dropdown-menu a:focus,
.navbar-nav .dropdown-menu a:checked
{
    transition: all 0.2s ease-in-out;
    color: #e2e2e2;
    text-transform: uppercase;
    background: none;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.navbar-nav .dropdown-menu a:hover{
    transform: translateX(3px);
}
.navbar-nav .dropdown-menu a i{
    margin-right: 3px;
}




::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #e60000 !important;
}

::selection {
    color: #fff;
    background: #e60000 !important;
}